.reasons {
  &__cards {
    @include row();
    margin: 0;
    @include outline();
  }
  &__list {
    @include row();
    margin: 0;
    padding: 0;
    @include outline();
    list-style: none;
  }
  &__item {
    @include col(xs, 12, 12);
    @include col(lg, 4, 12, 0);
    margin: 0;
    @include outline();
  }
  &__title {
    text-align: center;
    position: relative;
    &::after {
      content: '';
      @include centerer-x;
      background-color: $accent-color-d;
      width: 45%;
      height: 2px;
      bottom: 0;
    }
  }
  &__ico {
    fill: $accent-color;
  }
  &__text {
    text-align: center;
  }
}
@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
}
@media (min-width: $screen-lg) {
  .reasons  {
    position: relative;
    padding-bottom: 325px;
    &::after {
      content: '';
      @include centerer-x();
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 325px;
    }
    .btn__wrapper {
      margin-bottom: 27px;
    }
  }
  //Если у пользователя браузер поддерживающий webp он получит оптимизированное webp изображение
  .webp .reasons {
    &::after {
      background-image: url(../img/webp/threeinone768+.webp);
    }
  }
  //Если у пользователя браузер не поддерживающий webp он получит стандартное изображение
   .no-webp .reasons {
    &::after {
      background-image: url(../img/section1/threeinone768+.png);
    }
  }
  //Если у пользователя отключен JS он получит стандартное изображение
  .no-js .reasons {
    &::after {
      background-image: url(../img/section1/threeinone768+.png);
    }
  }
  .reasons__title {
    padding-bottom: 18px;
    margin-bottom: 40px;
  }
  .reasons__cards {
    margin-bottom: 51px;
  }
  .reasons__item {
    &:nth-child(n+4) {
      margin-top: 46px;
    }
  }
  .reasons__ico-wrapper {
    max-width: 69px;
    max-height: 79px;
    margin: auto;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    &::after {
      content: '';
      @include centerer-x();
      width: 90%;
      height: 1px;
      bottom: 0;
      background-color: $accent-color;
    }
  }
  .reasons__ico {
    width: 62px;
    height: 62px;
    &--people {
      width: 69px;
    }
    &--heart {
      width: 52px;
    }
    &--ribbon {
      width: 56px;
    }
  }
}

