
.main-nav {
  display: none;
  @include col(xs, 10, 10, 0);
  @include col(sm, 10, 10, 0);
  @include col(md, 10, 10);
  @include col(lg, 10, 10, 0);
  @include col(xl, 4, 10, 0);
  @include col(xxl, 4, 10, 0);
  @include outline();

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    padding: rem(10px 0);
    font-size: rem(16px);
  }

  &__link {
    text-transform: uppercase;
    display: block;
    font-family: "Etelka medium Pro";
    text-decoration: none;
    color: $white;
    text-align: center;
    transition: $transition-time;
    &:hover,
    &:active,
    &:focus {

    }
  }
}

@media (min-width: $screen-sm) {
  .main-nav__list {
    margin: 0;
    padding: 0;
    text-transform: none;
  }
}

@media (min-width: $screen-md) {

}

@media (min-width: $screen-lg) {

}

@media (min-width: $screen-xl) {
  .main-nav {
    display: block;
    padding-top: rem(75px);
    padding-bottom: rem(50px);
    background-color: transparent;
    &__toggle {
      display: none;
    }
  }
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    font-size: rem(13px);
    padding: rem(0 5px);
  }
  .main-nav__link {
    font-size: rem(12px);
    font-weight: 500;
    padding: rem(5px 0);
    border-bottom: 1px solid rgba($accent-color, 0.2);
    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid rgba($accent-color, 0.5);

    }
  }
}

@media (min-width: $screen-xxl) {

}
