.main-nav {
  @include col(xs, 16, 16, 0);
  @include col(sm, 16, 16, 0);
  @include col(md, 16, 16);
  @include col(lg, 12, 16);
  @include col(xl, 8, 16);
  @include col(xxl, 8, 16);
  position: fixed;
  top: 0;
  background-color: $accent-color;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;

  &__list {
    // background-color: $accent-color;
    list-style: none;
    padding: rem(10px 0);
    font-size: rem(16px);
  }

  &__link {
    text-transform: uppercase;
    display: block;
    padding: rem(10px 0);
    border-bottom: 1px solid rgba(white, 0.3);
    text-decoration: none;
    color: $white;
    text-align: center;
    transition: $transition-time;

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(black, 0.1);
    }

    &--active {
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  /* A background-color is required */
  background-color: #fff;
  min-height: 100vh;
}

.slideout-open,
.slideout-open .slideout-panel,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
@media (min-width: $screen-sm) {
  .main-nav__list {
    list-style: none;
    font-size: rem(16px);
  }
}
@media (min-width: $screen-md) {
  .main-nav {
    display: block;
    background-color: transparent;

    &__toggle {
      display: none;
    }
  }

  .slideout-menu {
    display: block;
    position: inherit;
    overflow-y: auto;
    width: auto;
    min-height: 30px;
  }

  .slideout-panel {
    position: static;
    margin-left: 0;
    height: auto;
  }

  .main-nav__list {
    display: flex;
    background-color: inherit;
    justify-content: space-around;
    font-size: rem(13px);
    padding: rem(0 5px);
  }

  .main-nav__link {
    font-size: rem(20px);
    text-transform: none;
    color: $link-color;

    &:active,
    &:focus,
    &:hover {
      color: $link-color--hover;
      text-decoration: underline;
      background-color: transparent;
    }

    &--active {
      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
}

.active {
  color: $link-color--hover;
  text-decoration: underline;
  background-color: transparent;
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media (min-width: $screen-xxl) {}
