
.main-nav {
  display: none;
  @include col(xs, 16, 12, 0);
  @include col(sm, 16, 12, 0);
  @include col(md, 12, 12);
  @include col(lg, 12, 12, 0);

  position: relative;


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: rem(10px 0);
    font-size: rem(16px);
  }

  &__link {
    text-transform: uppercase;
    display: block;
    padding: rem(10px 0);
    color: $white;
    text-align: center;
    transition: $transition-time;
    &:hover,
    &:active,
    &:focus {
      background-color: $accent-color-d;
    }
    &--active {
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }

  }
}

@media (min-width: $screen-sm) {


  .main-nav__list {
    margin: 0;
    padding: 0;
    font-size: rem(17px);
    text-transform: none;
  }
}

@media (min-width: $screen-md) {
  .main-nav {
    display: block;
    background-color: transparent;
    &__toggle {
      display: none;
    }
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
    font-size: rem(13px);
    padding: rem(0 5px);
  }
  .main-nav__link {
    font-size: rem(20px);
    text-transform: none;
    color: $link-color;
    &:hover,
    &:active,
    &:focus {
      color: $link-color--hover;
      background-color: transparent;
    }
  }
}
@media (min-width: $screen-lg) {
  .main-nav__list {
    display: flex;
    padding: 10px 0;
  }
  .main-nav__link {
    font-size: 18px;
    text-transform: none;
    line-height: 1;
    padding: 0 15px;
    padding-top: 9px;
    padding-bottom: 8px;
    &:hover,
    &:active,
    &:focus {
      color: white;
      background-color: $accent-color-d;
      text-decoration: none;
    }
  }
}

@media (min-width: $screen-xl) {

}

@media (min-width: $screen-xxl) {

}
