.hero {
  &__wrapper {
    @include row();
    @include outline();
  }
  &__content {
    @include col(xs, 10, 10, 0);
    @include col(lg, 5, 10, 0);
    @include outline();
  }
  &__title {
    font-family: "Etelka text Pro";
    font-weight: 700;
    color: white;
    margin: 0;
  }
  &__text {
    margin: 0;
    font-family: "Etelka light Pro";
    color: white;
    opacity: 0.5;
  }
  &__btn {
    font-family: "Etelka medium Pro";
    font-weight: 500;
    font-size: 12px;
    color: $accent-color;
    text-transform: uppercase;
    border: 2px solid $accent-color;
    background-color: transparent;
    padding: 13px 25px;
  }
  &__pagination-wrapper {

  }
  &__pagination {
    color: white;
    font-family: "Etelka medium Pro";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: $transition-time;
    margin-right: rem(25px);
    &:hover {
      color: $accent-color;
    }
    &--is-active {
      color: $accent-color;
    }
  }
}
@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {

}
@media (min-width: $screen-lg) {

}
@media (min-width: $screen-xl) {
  .hero {
    padding-top: rem(43px);
    padding-bottom: rem(91px);
    &__promo-wrapper {
      padding-left: rem(36px);
      margin-bottom: rem(101px);
    }
    &__promo-text {
      margin: 0;
      font-size: rem(12px);
      max-width: rem(164px);
      font-family: "Etelka light Pro";
      color: white;
      font-style: italic;
      line-height: 1.6;
      font-weight: 300;
      opacity: 0.5;
    }
    &__title-container {
      margin-bottom: rem(15px);
    }
    &__title {
      font-size: $font-size--h1;
    }
    &__text-container {
      margin-bottom: rem(92px);
    }
    &__text {
      font-size: rem(13px);
      line-height: 1.54;
    }
    &__btn {
      margin-bottom: rem(104px);
    }
  }
}
@media (min-width: $screen-xxl) {

}
