// миксин для подсветки блоков
$outline-color: firebrick;
$outline-width: 1px;
$outline-style: solid;

@mixin outline() {
  outline-width: $outline-width;
  outline-style: solid;
  outline-color: $outline-color;
}
@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerer-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin centerer-xy() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@mixin triangle($direction, $color: currentcolor, $size: 16px) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';

  $perpendicular-borders: $size solid transparent;

  @if $direction == top {
    border-left: $perpendicular-borders;
    border-right: $perpendicular-borders;
    border-bottom: $size solid $color;
  } @else if $direction == bottom {
    border-left: $perpendicular-borders;
    border-right: $perpendicular-borders;
    border-top: $size solid $color;
  } @else if $direction == right {
    border-bottom: $perpendicular-borders;
    border-top: $perpendicular-borders;
    border-left: $size solid $color;
  } @else if $direction == left {
    border-bottom: $perpendicular-borders;
    border-top: $perpendicular-borders;
    border-right: $size solid $color;
  }
}
@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}