html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $gray-darken;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

fieldset, legend {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*LOADER-1*/

.loader-outter {
  position: absolute;
  border: 6px solid white;
  border-left-color: transparent;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  border-bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-inner {
  position: absolute;
  border: 6px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}