.gallery {
  .container {
    padding: 0;
  }
  padding-top: 10px;
  color: $gray-darker;

  &__inner {
    text-align: center;
    @include row(30);
  }

  &__images {
    text-align: center;
    @include col(xs, 16, 16);
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 20px;
    &::after {
      width: 40%;
    }
  }
}

@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .gallery__titile {
    font-size: $font-size--h2;
  }

  .gallery__text {
    margin: 0 40px;
    line-height: 1.8;
  }
}
@media (min-width: $screen-lg) {
  .gallery {
    margin-top: 96px;
    margin-bottom: 107px;
    padding-top: 50px;
    &__images {
      padding: 0;
      margin-bottom: 47px;
    }
    &__inner {
      padding: 0;

    }
    &__title {
      font-size: $font-size--h2;
      margin-bottom: 52px;
      padding-bottom: 10px;

    }
    &__link {
      font-size: 0;
    }
    &__wrapper{
      max-width: 320px;
      position: relative;
      transition: $transition-time;
      &::after {
        cursor: pointer;
        padding-top: 10px;
        text-align: left;
        padding-left: 15px;
        color: white;
        font-size: 18px;
        font-family: $font-family--headings;
        font-weight: 700;
        content: '';
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 10%;
        height: 40px;
        background-color: rgba(#000, 0.68);
      }
      &--property {
        &::after {
          content: 'Недвижимость';
        }
      }
      &--furniture {
        &::after {
          content: 'Офисная мебель';
          width: 55%;
        }
      }
      &--fitness {
        &::after {
          content: 'Фитнес-центр';

        }
      }
      &--shop {
        &::after {
          content: 'Магазин';
          width: 35%;
        }
      }
      &--shopping-center {
        &::after {
          content: 'Торговый центр';
          width: 55%;
        }
      }
      &--materials {
        &::after {
          content: 'Стройматериалы';
          width: 55%;
        }
      }
    }
  }
}