.gallery {
  margin-bottom: 56px;
  .container {
    padding: 0;
  }
  padding-top: 10px;
  color: $gray-darker;

  &__inner {
    text-align: center;
    @include row();
    margin: 0;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__images {
    text-align: center;
    @include col(xs, 12, 12);
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    &::after {
      width: 320px;
    }
  }
  &__link {
    font-size: 0;
  }
  &__wrapper{
    max-width: 320px;
    margin: auto;
    position: relative;
    &::after {
      padding-top: 7px;
      text-align: center;
      color: white;
      font-size: 22px;
      font-family: $font-family--headings;
      font-weight: 700;
      content: '';
      @include centerer-x();
      width: 60%;
      bottom: 10%;
      height: 45px;
      background-color: rgba(#000, 0.68);
    }
    &--property {
      &::after {
        content: 'Недвижимость';
      }
    }
    &--furniture {
      &::after {
        content: 'Офисная мебель';
        width: 65%;
      }
    }
    &--fitness {
      &::after {
        content: 'Фитнес-центр';
      }
    }
    &--shop {
      &::after {
        content: 'Магазин';
        width: 40%;
      }
    }
    &--shopping-center {
      &::after {
        content: 'Торговый центр';
        width: 65%;
      }
    }
    &--materials {
      &::after {
        content: 'Стройматериалы';
        width: 65%;
      }
    }
  }
  &__btn {
    margin: 0;
  }
}

@media (min-width: $screen-sm) {
  .gallery__img {
    width: 320px;
  }
}
@media (min-width: 675px) {
  .gallery {
    .container {
      max-width: 670px;
    }
  }
  .gallery__wrapper {
    margin: 0;
  }
}
@media (min-width: $screen-md) {
  .gallery {
    margin-bottom: 97px;
  }
  .gallery__title {
    font-size: $font-size--h2;
    &::after {
      width: 418px;
    }
  }
  .gallery__inner {
    margin-bottom: 35px;
  }
  .gallery__text {
    margin: 0 40px;
    line-height: 1.8;
  }
  .gallery__wrapper {
    &::after {
      padding-top: 3px;
      font-size: 28px;
      width: 75%;
      height: 45px;
    }
    &--property {
      &::after {
        content: 'Недвижимость';
      }
    }
    &--furniture {
      &::after {
        content: 'Офисная мебель';
        width: 80%;
      }
    }
    &--fitness {
      &::after {
        content: 'Фитнес-центр';
        width: 68%;
      }
    }
    &--shop {
      &::after {
        content: 'Магазин';
        width: 45%;
      }
    }
    &--shopping-center {
      &::after {
        content: 'Торговый центр';
        width: 78%;
      }
    }
    &--materials {
      &::after {
        content: 'Стройматериалы';
        width: 80%;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .gallery {
    margin-top: 96px;
    margin-bottom: 107px;
    padding-top: 50px;
    .container {
      max-width: none;
    }

    &__images {
      padding: 0;
      margin-bottom: 47px;
    }
    &__inner {
      margin: 0;

    }
    &__title {
      margin-bottom: 52px;
      padding-bottom: 10px;

    }
    &__wrapper{
      &::after {
        transform: none;
        text-align: left;
        padding-top: 7px;
        padding-left: 14px;
        font-size: 18px;
        font-weight: 700;
        content: '';
        width: 50%;
        left: 0;
        height: 40px;
      }
      &--property {
        &::after {
          content: 'Недвижимость';
        }
      }
      &--furniture {
        &::after {
          content: 'Офисная мебель';
          width: 55%;
        }
      }
      &--fitness {
        &::after {
          content: 'Фитнес-центр';

        }
      }
      &--shop {
        &::after {
          content: 'Магазин';
          width: 32%;
        }
      }
      &--shopping-center {
        &::after {
          content: 'Торговый центр';
          width: 53%;
        }
      }
      &--materials {
        &::after {
          content: 'Стройматериалы';
          width: 55%;
        }
      }
    }
  }
}