
.form {
  @include row();
  @include outline();

&__wrapper {
    @include col(xs, 12, 12);
    @include col(sm, 12,12);
    @include col(md, 6, 12);
    @include col(lg, 6, 12);
    @include col(xl, 6, 12);
    @include col(xxl, 6, 12);
    @include outline();
    position: relative;
  }
  &__form {
    padding: 5% 1% 5% 1%;
    color: $accent-color;
    width: 100%;
    position: relative;
  }
  &__form-head {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $accent-color;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 800;
  }
  &__input, textarea {
    display: block;
    font-family: "Open Sans", "Arial",sans-serif;
    font-size: 16px;
    width: 100%;
    color: #000;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba($accent-color, 0.9 );
    border-bottom: 2px solid rgba(gray, 0.9);
    border-radius: 4px;
    padding: 12px 20px;
    &::placeholder {
      color: #fff;
      opacity: 1;
    }
  }
  &__select {
    font-family: "Open Sans", "Arial",sans-serif;
    width: 100%;
    color: #000;
    font-size: 16px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid rgba($accent-color, 0.9 );
    border-bottom: 2px solid rgba($accent-color, 0.1);
    outline: none;
    option {
      color: $accent-color;
    }
  }

  &__form-btn {
    margin: 0;
    margin-top: 35px;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 14px;
    border: 1x solid #000;
    border-bottom: 4px solid darken(#fff, 15%);
    letter-spacing: 2px;
    background-color: #fff;
    color: $accent-color;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: darken($accent-color, 15%);
      border-color: darken($accent-color, 45%);
      box-shadow: none;
    }
  }
}