<footer class="main-footer">
  <div class="main-footer__container">
    <div class="main__footer-wrapper">
      <div class="footer__title">
        <h2>Get in touch</h2>
      </div>
      <div class="footer__social">
        <div class="footer__social-links">
          <a href="" class="footer__social-link footer__social-link--fb">
          </a>
          <a href="" class="footer__social-link footer__social-link--tw">
          </a>
          <a href="" class="footer__social-link footer__social-link--google">
          </a>
          <a href="" class="footer__social-link footer__social-link--in">
          </a>
        </div>
      </div>
      <div class="footer__subscribe">
        <p class="footer__subscribe-text">Subscribe to our newsletter to stay update with what is new</p>
        <input type="email">
        <button type="submit" class="footer__btn  btn">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <a href="" class="footer__copyright-link">Alinea.com</a>
    <span>&copy; 2017 All Rights Reserved</span>
  </div>
</footer>