<header class="main-header">
  <div class="main-header__container">
    <div class="main-nav">
      <div class="main-nav__wrapper">
        <button type="button" class="main-nav__btn">
          <span class="main-nav__sandwich">
            <span class="main-nav__sandwich--topper"></span>
            <span class="main-nav__sandwich--bottom"></span>
            <span class="main-nav__sandwich--footer"></span>
          </span>
        </button>
        <nav class="main-nav__list--wrapper">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Home</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">About</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Works</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <section class="promo">
    <div class="promo__wrapper">
      <h1 class="promo__title">
        Text
      </h1>
      <p class="promo__text">
        Front-End development
      </p>
    </div>
  </section>
</header>
