// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$google-maps-logo-name: 'google-maps-logo';
$google-maps-logo-x: 440px;
$google-maps-logo-y: 251px;
$google-maps-logo-offset-x: -440px;
$google-maps-logo-offset-y: -251px;
$google-maps-logo-width: 110px;
$google-maps-logo-height: 33px;
$google-maps-logo-total-width: 578px;
$google-maps-logo-total-height: 428px;
$google-maps-logo-image: '../img/sprite.png';
$google-maps-logo: (440px, 251px, -440px, -251px, 110px, 33px, 578px, 428px, '../img/sprite.png', 'google-maps-logo', );
$google-name: 'google';
$google-x: 196px;
$google-y: 327px;
$google-offset-x: -196px;
$google-offset-y: -327px;
$google-width: 207px;
$google-height: 37px;
$google-total-width: 578px;
$google-total-height: 428px;
$google-image: '../img/sprite.png';
$google: (196px, 327px, -196px, -327px, 207px, 37px, 578px, 428px, '../img/sprite.png', 'google', );
$logo-trusted-name: 'logo-trusted';
$logo-trusted-x: 0px;
$logo-trusted-y: 0px;
$logo-trusted-offset-x: 0px;
$logo-trusted-offset-y: 0px;
$logo-trusted-width: 235px;
$logo-trusted-height: 327px;
$logo-trusted-total-width: 578px;
$logo-trusted-total-height: 428px;
$logo-trusted-image: '../img/sprite.png';
$logo-trusted: (0px, 0px, 0px, 0px, 235px, 327px, 578px, 428px, '../img/sprite.png', 'logo-trusted', );
$logo-trusted320-name: 'logo-trusted320';
$logo-trusted320-x: 440px;
$logo-trusted320-y: 0px;
$logo-trusted320-offset-x: -440px;
$logo-trusted320-offset-y: 0px;
$logo-trusted320-width: 138px;
$logo-trusted320-height: 193px;
$logo-trusted320-total-width: 578px;
$logo-trusted320-total-height: 428px;
$logo-trusted320-image: '../img/sprite.png';
$logo-trusted320: (440px, 0px, -440px, 0px, 138px, 193px, 578px, 428px, '../img/sprite.png', 'logo-trusted320', );
$logo-trusted720-name: 'logo-trusted720';
$logo-trusted720-x: 235px;
$logo-trusted720-y: 0px;
$logo-trusted720-offset-x: -235px;
$logo-trusted720-offset-y: 0px;
$logo-trusted720-width: 205px;
$logo-trusted720-height: 286px;
$logo-trusted720-total-width: 578px;
$logo-trusted720-total-height: 428px;
$logo-trusted720-image: '../img/sprite.png';
$logo-trusted720: (235px, 0px, -235px, 0px, 205px, 286px, 578px, 428px, '../img/sprite.png', 'logo-trusted720', );
$yandex-maps-logo320-name: 'yandexMapsLogo320';
$yandex-maps-logo320-x: 440px;
$yandex-maps-logo320-y: 193px;
$yandex-maps-logo320-offset-x: -440px;
$yandex-maps-logo320-offset-y: -193px;
$yandex-maps-logo320-width: 112px;
$yandex-maps-logo320-height: 58px;
$yandex-maps-logo320-total-width: 578px;
$yandex-maps-logo320-total-height: 428px;
$yandex-maps-logo320-image: '../img/sprite.png';
$yandex-maps-logo320: (440px, 193px, -440px, -193px, 112px, 58px, 578px, 428px, '../img/sprite.png', 'yandexMapsLogo320', );
$yandexmapslogo-name: 'yandexmapslogo';
$yandexmapslogo-x: 0px;
$yandexmapslogo-y: 327px;
$yandexmapslogo-offset-x: 0px;
$yandexmapslogo-offset-y: -327px;
$yandexmapslogo-width: 196px;
$yandexmapslogo-height: 101px;
$yandexmapslogo-total-width: 578px;
$yandexmapslogo-total-height: 428px;
$yandexmapslogo-image: '../img/sprite.png';
$yandexmapslogo: (0px, 327px, 0px, -327px, 196px, 101px, 578px, 428px, '../img/sprite.png', 'yandexmapslogo', );
$spritesheet-width: 578px;
$spritesheet-height: 428px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($google-maps-logo, $google, $logo-trusted, $logo-trusted320, $logo-trusted720, $yandex-maps-logo320, $yandexmapslogo, );
$spritesheet: (578px, 428px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
