
 /*Montseratt Regular
 @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}*/

/*Montseratt Semi Bold*/
 @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*Montseratt Bold
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}*/



/*Nunito Regular*/
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunitoSans/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/nunitoSans/NunitoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}