.about {
  background-color: $color-main;
  color: $text-color--reverse;
  padding-top: 50px;
  &__container {
    @include container();
    @include outline();
  }
  &__title-wrapper {
    @include row();
    text-align: center;
    justify-content: center;
  }
  &__title {
    @include col(xs, 4, 12);
    position: relative;
    font-size: $font-size--h2;
    &::after {
      content: '';
      @include centerer-x();
      width: 120px;
      bottom: -8px;
      border-bottom: 1px solid $text-color--reverse;
      z-index: -50px;
    }
  }
  &__content {
    @include row();
    justify-content: center;
  }
  &__text{
    @include col(xs, 4, 12);
    /*@include outline();*/
    position: relative;
    &--left {
      margin-right: 20px;
      text-align: right;
      &::after {
        content: '';
        @include centerer-y();
        right: -20px;
        width: 2px;
        height: 70%;
        background-color:  $text-color--reverse;
      }
    }
    &--right {
      margin-left: 20px;
      text-align: left;
    }
  }

}
