.contacts {
  background-color:  $text-color--reverse;
  color: $color-main;
  padding-top: 50px;
  &__container {
    @include container();
    @include outline();
  }
  &__title-wrapper {
    @include row();
    text-align: center;
    justify-content: center;
  }
  &__title {
    @include col(xs, 4, 12);
    position: relative;
    font-size: $font-size--h2;
    &::after {
      content: '';
      @include centerer-x();
      width: 140px;
      bottom: -10px;
      border-bottom: 1px solid $color-main;
    }
  }
}
