.tools {
  background-color:  $color-main;
  color: $text-color--reverse;
  padding-top: 50px;
  padding-bottom: 80px;
  &__container {
    @include container();
    @include outline();
  }
  &__title-wrapper {
    @include row();
    text-align: center;
    justify-content: center;
  }
  &__title {
    @include col(xs, 4, 12);
    position: relative;
    font-size: $font-size--h2;
    &::after {
      content: '';
      @include centerer-x();
      width: 90px;
      bottom: -10px;
      border-bottom: 1px solid $text-color--reverse;
    }
  }
}
