// миксин для подсветки блоков
$outline-color: firebrick;
$outline-width: 1px;
$outline-style: solid;

@mixin outline ($outline-width: $outline-width, $outline-style: $outline-style, $outline-color: $outline-color) {
  outline-width: $outline-width;
  outline-style: solid;
  outline-color: $outline-color;
}
//Миксин для центрирования
@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerer-y() {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}