.main-header {
  &__top-line {
    padding-top: rem(0);
    @include row();
    padding-bottom: rem(5px);
    &::after {
      content: '';
      width: 100%;
      margin: auto;
      left: 2.5%;
      right: 2.5%;
      border: 0.7px solid rgba($link-color,0.3);
    }
  }
  &__logo-container {
    @include col(xs, 16, 16, 0);
    @include col(md, 8, 16, 0);
    @include col(lg, 3, 16, 0);
    @include col(xl, 3, 16, 0);
  }
  &__logo {
    padding: rem(11px 0);

  }
  &__contacts--worktime {
    @include col-offset(xl, 2, 16);
    @include col(xs, 16, 16);
    @include col(md, 8, 16);
    @include col(lg, 5, 16);
    @include col(xl, 4, 16);
  }
  &__contacts--mailus {
    @include col(xs, 16, 16);
    @include col(md, 8, 16);
    @include col(lg, 5, 16);
    @include col(xl, 4, 16);
  }
  &__contacts--call {
    @include col(xs, 16, 16);
    @include col(md, 8, 16);
    @include col(lg, 3, 16);
    @include col(xl, 3, 16);
  }
  &__contacts--worktime,
  &__contacts--mailus,
  &__contacts--call {
    display: none;
  }


  &__contacts {
    font-size: rem(15px);
    padding-top: rem(7px);
    padding-bottom: rem(7px);
  }
  &__contacts-wrapper {
    padding-left: rem(50px);
    padding-top: rem(3px);
    padding-bottom: rem(3px);
    position: relative;
    &::before {
      content: '';
      left: 0;
      @include centerer-y();
      height: rem(40px);
      width: rem(40px);
      background-color: $accent-color;
      border-radius: rem(20px);
    }
    &--worktime {
      position: relative;
      &::before {
        background-image: url('../img/ico-time.svg');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center center;
      }
    }
    &--mailus {
      position: relative;
      &::before {
        background-image: url('../img/ico-envelope.svg');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center center;
      }
    }
    &--call {
      position: relative;
      &::before {
        background-image: url('../img/ico-phone.svg');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  &__contacts-text {
    margin: 0;
    padding: 0;
    padding-bottom: rem(3px);
    &--bigger {
      text-transform: uppercase;
      font-weight: 700;
    }
    span {
      text-transform: uppercase;
    }
  }
  &__contacts-link {
    text-decoration: none;
    color: $link-color;
    transition: $transition-time;
    &:hover {
      color: $link-color--hover;
      font-weight: bold;
    }
  }
  &__icons-container {
    display: none;
  }
}
.main-header__middle {
  @include row();
}
.main-header__social {
  @include col-offset(xl, 5, 16);
  @include col(xs, 4, 16);
  @include col(lg, 4, 16);
  @include col(xl, 3, 16);
  display: flex;
}
@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .main-header {
    &__top-line {
      padding-top: rem(30px);
    }
    &__contacts--worktime {
      display: block;
    }
    &__icons-container {
      margin: auto;
      width: 200px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        width: 30px;
        margin: auto;
      }
    }
    &__icon  {
      width: rem(25px);
      height: rem(25px);
      transition: $transition-time;
      &--fb,
      &--vk {
        padding-bottom: 3px;
        &:hover {
          fill: #4267B2;
        }
      }
      &--google {
        width: rem(30px);
        height: rem(35px);
        &:hover {
          fill: gray;
        }
      }
      &--tube {
        &:hover {
          fill: #FF0000;
        }
      }
      &--in {
        padding-bottom: 3px;
        &:hover {
          fill: #0077b5;
        }
      }
    }
  }
}
@media (min-width: $screen-lg) {
  .main-header {
    &__contacts--mailus,
    &__contacts--call {
      display: block;
    }
  }
}
@media (min-width: $screen-xl) {

}

@media (min-width: $screen-xxl) {

}