.achievements {
  background-color: $accent-color;
  padding: rem(10px 0);
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  &__data-wrapper {
    @include row(0);
    margin: auto;
    display: flex;
    padding: 0;
  }
  &__data  {
    @include col(sm, 8, 16);
    @include col(md, 8, 16);
    @include col(lg, 4, 16);
    @include col(xl, 4, 16);
    @include col(xxl, 4, 16);
    color: white;
    display: flex;
    list-style: none;
    margin: 0;
    padding: rem(15px 0);
  }
  &__count {
    font-size: rem(18px);
    font-weight: 500;
  }
  &__text {
    font-size: rem(12px);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;
  }
  &__icons-wrap {
    padding-top: rem(3px);
  }
  &__icon {
    width: rem(42px);
    height: rem(42px);
  }
  &__inner {
    margin-left: rem(10px);
  }
}


@media (min-width: $screen-sm) {

}

@media (min-width: $screen-md) {
  .achievements {
    padding: rem(20px 0);
    &__text {
      padding-top: rem(5px);
    }
  }
}

@media (min-width: $screen-lg) {
  .achievements {
    padding: rem(95px 0);
    &__inner {
      margin-left: rem(20px);
    }
  }
}

@media (min-width: $screen-xl) {

}
@media (min-width: $screen-xxl) {

}
