.cakes {
  background-image: url(../img/Section-1/pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid white;
  
}
@media (max-width: $screen-xl) {

}
@media (max-width: $screen-lg) {

}
@media (max-width: $screen-md) {

}
@media (max-width: $screen-sm) {

}