.cakes {
  background-image: url(../img/Section-1/pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid white;
  &::before {
    content: '';
    @include centerer-x();
    @include circle(80px, white);
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);
    top: -50px;
    background-image: url(../img/Section-1/bread.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &::after {
    content: '';
    @include centerer-x();
    top: -65px;
    width: 110px;
    height: 110px;
    background-image: url(../img/Section-1/curves.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__content {
    @include row();
  }
  &__text-side {
    @include col(xl, 6, 12);
    @include col(lg, 6, 12);
    @include col(md, 6, 12);
    @include col(sm, 12, 12);
    @include col(xs, 12, 12);
    text-align: center;
  }
  span {
    font-family: $font-family--serif;
    color: $color-accent;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: rem(1.5px);
  }
  &__text-wrapper {
    width: 85%;
    margin: auto;
    margin-top: rem(40px);
    line-height: 1.8;
    font-weight: 700;
  }
  &__chef {
    margin-top: rem(45px);
    h4 {
      margin-bottom: rem(55px);
    }
    b {
      font-family: $font-family--serif;
      display: inline-block;
      vertical-align: top;
      font-size: rem(24px);
      border-bottom: 1px solid $text-color;
      border-top: 1px solid $text-color;
      padding: rem(10px 10px);
      margin: rem(20px 0 10px 0);
    }
    cite {
      display: block;
      padding: rem(10px 150px);
      letter-spacing: rem(3px);
      font-family: 'Scriptina', sans-serif;
      font-size: rem(28px);
      color: $color-accent;
      position: relative;
      &::before,
      &::after {
        position: absolute;
        font-size: rem(56px);
        font-family: 'Times New Roman';
      }
      &::before {
        content: '\201c';
        left: rem(100px);
        top: 0;
      }
      &::after {
        content: '\201d';
        right: rem(100px);
        bottom: rem(-20px);
      }
    }
  }
  &__chef-img {
    display: inline-block;
    vertical-align: top;
    margin: rem(0 25px);
    width: rem(100px);
    height: rem(100px);
    border-radius: rem(50px);
    overflow: hidden;
    box-shadow: 0 0 0 5px white;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  &__photo-side {
    @include col(xl, 6, 12);
    @include col(lg, 6, 12);
    @include col(md, 6, 12);
    @include col(sm, 12, 12);
    @include col(xs, 12, 12);
    .cakes__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      &::before {
        content: '';
        @include centerer-xy();
        margin-top: rem(10px);
        width: rem(250px);
        height: rem(250px);
        background-image: url(../img/Section-1/curves-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.90;
      }
      &::after {
        content: 'tastes so good!';
        @include centerer-xy();
        width: rem(100px);
        text-align: center;
        color: $color-accent;
        font-size: rem(22px);
        text-transform: uppercase;
        font-family: $font-family--serif;
      }
    }
  }
  &__image {
    display: inline-block;
    vertical-align: top;
    max-width: rem(278px);
    max-height: rem(238px);
    margin-top: rem(15px);
    margin-right: rem(20px);
    outline: 5px solid white;
    outline-offset: rem(-10px);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

}
@media (max-width: $screen-xxl) {
  .cakes__photo-side {
    display: flex;
  }
  .cakes__photo-side .cakes__gallery {
    margin: auto;
    &::before {
      margin-top: rem(10px);
      width: rem(200px);
      height: rem(200px);
    }
  }
  .cakes__image {
    max-height: rem(200px);
  }
  .cakes__chef cite {
    padding: rem(10px 100px);
    &::before,
    &::after {
      position: absolute;
      font-size: rem(46px);
    }
    &::before {
      left: rem(80px);

    }
    &::after {
      content: '\201d';
      right: rem(80px);
      bottom: rem(-30px);
    }
  }
}
@media (max-width: $screen-xl) {
  .cakes__photo-side .cakes__gallery {
    &::before {
      margin-top: rem(10px);
      width: rem(200px);
      height: rem(200px);
    }
  }
  .cakes__image {
    max-height: rem(160px);
  }
  .cakes__photo-side .cakes__gallery {
    margin: auto;
    &::before {
      margin-top: rem(10px);
      width: rem(160px);
      height: rem(160px);
    }
    &::after {
      font-size: rem(18px);
    }
  }
  .cakes__chef {
    margin-top: rem(25px);
    h4 {
      margin-bottom: rem(35px);
    }

  }
  .cakes__chef cite {
    padding: rem(10px 60px);
    font-size: rem(22px);
    &::before,
    &::after {
      font-size: rem(40px);
    }
    &::before {
      content: '\201c';
      left: rem(60px);
      top: 0;
    }
    &::after {
      content: '\201d';
      right: rem(60px);
      bottom: rem(-25px);
    }
  }
}

@media (max-width: $screen-lg) {
  .cakes__chef cite {
    padding: rem(20px 40px);
    &::before {
      content: '\201c';
      left: rem(25px);
      top: 0;
    }
    &::after {
      content: '\201d';
      right: rem(25px);
      bottom: rem(-25px);
    }
  }
  .cakes__chef{
    b {
      font-size: rem(20px);
      padding: rem(10px 10px);
      margin: rem(10px 0);
    }
  }
  .cakes__chef-img {
    margin: rem(0 15px);
    width: rem(80px);
    height: rem(80px);
  }
  .cakes__image {
    max-height: rem(140px);
  }
  .cakes__photo-side .cakes__gallery {
    margin: auto;
    &::before {
      margin-top: rem(5px);
      width: rem(130px);
      height: rem(130px);
    }
    &::after {
      font-size: rem(16px);
    }
  }
}
@media (max-width: 790px) {
  .cakes__image {
    max-height: rem(125px);
  }
}
@media (min-width: 768px) and (max-width: 769px) {
  .cakes__image {
    max-height: rem(120px);
  }
  .cakes__chef {
    b {
      padding: rem(10px 1px);
    }
    cite {
      padding: rem(20px 20px);
      font-size: rem(18px);
      &::before,
      &::after {
        font-size: rem(40px);
      }
      &::before {
        content: '\201c';
        left: rem(10px);
        top: 0;
      }
      &::after {
        content: '\201d';
        right: rem(10px);
        bottom: rem(-25px);
      }
    }
  }
}

@media (max-width: $screen-md) {
  .cakes {
    padding: rem(40px);
  }
  .cakes__image {
    max-height: rem(175px);
  }
  .cakes__photo-side .cakes__gallery {
    &::before {
      margin-top: rem(10px);
      width: rem(160px);
      height: rem(160px);
    }
    &::after {
      font-size: rem(18px);
    }
  }
}
@media (max-width: 644px) {
  .cakes__image {
    max-height: rem(140px);
  }
}
@media (max-width: $screen-sm) {
  .cakes__text-wrapper {
    width: 100%;
    margin-top: rem(20px);
  }
  .cakes__chef {
    h4 {
      margin-bottom: rem(10px);
    }
    b {
      display: block;
      width: 55%;
      margin: rem(15px auto);
      padding: rem(5px 0);

    }
    cite {
      padding: rem(20px 30px);
      font-size: rem(18px);
      &::before,
      &::after {
        font-size: rem(40px);
      }
      &::before {
        content: '\201c';
        left: rem(10px);
        top: 0;
      }
      &::after {
        content: '\201d';
        right: rem(10px);
        bottom: rem(-25px);
      }
    }
  }
  .cakes__gallery {
    img {
     display: none;
    }
    &::before,
    &::after {
     display: none;
    }
  }
}