.offer {
  background-image: url(../img/Section-3/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    @include row();
  }

  &__breakfast {
    @include col-offset(xxl, 1, 12);
    @include col-offset(xl, 0, 12);
    @include col(xxl, 5, 12);
    @include col(xl, 6, 12);
    @include col(lg, 6, 12);
    @include col(md, 6, 12);
    @include col-offset(md, 0, 12);
    @include col-offset(sm, 1, 12);
    @include col(sm, 10, 12);
  }
  &__aside {
    @include col(xxl, 5, 12);
    @include col(xl, 6, 12);
    @include col(lg, 6, 12);
    @include col(md, 6, 12);
    @include col-offset(md, 0, 12);
    @include col-offset(sm, 1, 12);
    @include col(sm, 10, 12);
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    text-align: center;
    color: white;
    font-size: rem(60px);
    line-height: 0.9;
  }
  &__subtitle {
    display: block;
    text-align: center;
    font-family: $font-family--serif;
    color: #c8a593;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(18px);
  }
  &__dishes {
    margin-top: rem(50px);
    text-align: center;
    color: white;
  }
  &__dish {
    font-size: rem(30px);
    letter-spacing: rem(1.9px);
    &:nth-child(n+2) {
      margin-top: rem(15px);
    }
  }
  &__descr {
    margin-top: 0;
    color: #c2beba;
    margin-bottom: rem(20px);
    font-size: rem(16px);
  }
  &__price {
    font-size: rem(36px);
    display: block;
    font-family: $font-family--serif;
    color: $color-gold;
    padding-bottom: rem(30px);
    position: relative;
    &::after {
      content: '';
      @include centerer-x();
      width: rem(90px);
      height: rem(27px);
      bottom: rem(0px);
      background-image: url(../img/Section-3/Branch.png);
      background-repeat: no-repeat;
    }
    &:last-child {
      &::after {
        background: none;
      }
    }
  }

  &__aside-content {
    background-image: url(../img/Section-3/descr.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-left: auto;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/Section-3/spikelet.png);
      bottom: 5px;
      right: -30px;
      width: 250px;
      height: 120px;
      background-repeat: no-repeat;
      background-position: top left;
    }
  }
  &__aside-top {
    text-transform: uppercase;
    font-family: $font-family--serif;
    font-size: rem(18px);
    margin-top: rem(30px);
    display: flex;
    position: relative;
    &::before {
      content: '';
      background-color: rgba($color-main, 0.4);
      @include centerer-xy();
      width: 50%;
      height: 0.5px;
    }
    &::after {
      content: '';
      width: rem(50px);
      height: rem(50px);
      border: 1px solid rgba($color-main, 0.4);
      border-radius: rem(60px);
      @include centerer-xy();
      background-color: #f3f1e9;
      background-image: url(../img/Section-3/bun.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
    
  }
  &__aside-head {
    align-self: flex-start;
    padding: rem(0 60px);
  }
  &__aside-head--right {
    margin-left: auto;
  }
  &__aside-inner {
    text-align: center;
    margin-top: rem(80px);
    margin-right: rem(30px);
    margin-left: rem(30px);
    p {
      margin-top: rem(50px);
      margin-right: rem(30px);
      margin-left: rem(30px);
      line-height: 1.8;
    }
  }
  &__btn {
    margin-top: rem(30px);
    background: none;
    text-transform: uppercase;
    color: $color-accent;
    border: 1px solid $color-main;
    font-weight: 700;
    padding: rem(10px 60px);
    transition: all 0.2s ease;
    overflow:hidden;
    z-index: 1;
    position: relative;
    &:hover {
      color: white;
    }
    &::before {
      content: "";
      position: absolute;
      background: $color-accent;
      bottom: 0;
      left: 0;
      right: 100%;
      top: 0;
      z-index: -1;
      transition: all .2s ease-in;
    }
    &:hover::before {
      top: 0;
      right: 0;
    }
  }
}
@media (max-width: $screen-xxl) {
  .offer__aside-content {
    width: 80%;
    &::after {
      bottom: 0;
      right: 0;
      width: 240px;
      height: 160px;
    }
  }
}
@media (max-width: $screen-xl) {
  .offer__aside-content {
    width: 90%;
    &::after {
      bottom: 0;
      right: 0;
      width: 240px;
      height: 160px;
    }
  }
}
@media (max-width: $screen-lg) {
  .offer__aside-content {
    height: 100%;
    margin: 0;
    &::after {
      width: 200px;
      height: 160px;
    }
  }
  .offer__aside-inner {
    margin-top: rem(50px);
  }
  .offer__title {
    font-size: rem(52px);
  }

  .offer__subtitle {
    font-size: rem(16px);
  }
  .offer__dishes {
    margin-top: rem(40px);
  }
  .offer__price {
    padding-bottom: rem(15px);
  }
  .offer__aside-inner {
    h2 {
      font-size: rem(36px);
    }
    text-align: center;
    margin-top: rem(60px);
    p {
        margin-top: rem(50px);
        margin-right: rem(15px);
        margin-left: rem(15px);
        line-height: 1.8;
    }
  }
}
@media (max-width: 850px) {
  .offer__aside-content {
    width: 100%;
    margin: 0;
    &::after {
      bottom: 0;
      right: 0;
      width: 220px;
      height: 140px;
    }
  }
  .offer__aside-inner {
    h2 {
      font-size: rem(36px);
    }
    text-align: center;
    margin-right: rem(25px);
    margin-left: rem(25px);
    p {
      margin-right: rem(15px);
      margin-left: rem(15px);
      line-height: 1.8;
    }
  }
}
@media (max-width: 767px) {
  .offer__title {
    font-size: rem(42px);
  }
  .offer__subtitle {
    font-size: rem(13px);
  }
  .offer__dishes {
    margin-top: rem(30px);
  }
  .offer__dish {
    font-size: rem(22px);
  }
  .offer__descr {
    font-size: rem(14px);
    margin-bottom: rem(5px);
  }
  .offer__price {
    font-size: rem(30px);
    &::after {
      bottom: -5px;
    }
  }
  .offer__aside {
    justify-content: center;
  }
  .offer__btn {
    margin-bottom: rem(60px);
  }
  .offer__aside-inner {
    margin-top: rem(60px);
  }
  .offer__aside-content {
    width: 80%;
    height: 100%;
    &::after {
      width: 180px;
      height: 140px;
    }
  }
}
@media (max-width: 580px) {
  .offer__btn {
    margin-bottom: rem(40px);
  }
  .offer__aside-inner {
    margin-top: rem(60px);
  }
  .offer__aside-content {
    height: 100%;
    width: 100%;
  }

}
@media (max-width: $screen-sm) {
  .offer {
  }
  .offer__aside-content {
    &::after {
      width: 150px;
      height: 120px;
    }
  }
}

