.receipt {
  background-color: #f3f1e9;
  position: relative;
  &::after {
    content: '';
    width: 707px;
    height: 142px;
    top: 0;
    opacity: 0.8;
    @include centerer-x();
    background-image: url(../img/Section-4/village.png);
    background-repeat: no-repeat;
  }
  &__header {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  &__subtitle {
    color: $color-accent;
    font-family: $font-family--serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(14px);
  }
  &__wrapper {
    @include row();
  }
  &__inner {
    @include col-offset(xxl, 1, 12);
    @include col(xxl, 10, 12);
    @include col(xl, 12, 12);
    @include col(lg, 12, 12);
    @include col(md, 12, 12);
    @include col(sm, 12, 12);
  }
  &__content {
    @include row(15);
  }
  &__descr {
    @include col(xxl, 4, 12);
    @include col(xl, 4, 12);
    @include col(lg, 4, 12);
    @include col(md, 4, 12);
    @include col-offset(md, 0, 12);
    @include col-offset(sm, 2, 12);
    @include col-offset(xs, 1, 12);
    @include col(sm, 8, 12);
    @include col(xs, 10, 12);
  }
  &__inner-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  &__img {
    vertical-align: top;
    box-shadow: $shadow;
    overflow: hidden;
    border: rem(1px solid white);
    border-radius: rem(50px);
  }
  &__inner-title {
    color: $color-accent;
    margin-top: rem(10px);
    font-weight: 700;
  }
  &__text {
    margin-top: 0;
    margin-bottom: rem(50px);
  }
  &__picture {
    @include col(xxl, 8, 12);
    @include col(xl, 8, 12);
    @include col(lg, 8, 12);
    @include col(md, 8, 12);
    @include col(sm, 12, 12);
    @include col-offset(sm, 0, 12);
    @include col-offset(xs, 1, 12);
    @include col(xs, 10, 12);
    margin: auto;
  }
  &__picture-wrapper {
    position: relative;
  }
  &__sticker {
    font-family: $font-family--serif;
    position: absolute;
    top: rem(-20px);
    right: 0;
    width: rem(200px);
    height: rem(200px);
    background-color: #fff;
    text-align: center;
    opacity: 0.8;
    box-shadow: 14px 1px 55px -20px rgba(0, 0, 0, 0.3);
    span {
      display: block;
      letter-spacing: rem(1.4px);
    }
    &--middle {
      top: 180px;

    }
    &--bottom {
      top: rem(380px);
    }
    &--fill {
      opacity: 1;
      background-image: url(../img/Section-4/fields.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__sticker-top {
    margin-top: rem(20px);
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-accent;
  }
  &__sticker-min {
    font-size: rem(86px);
    line-height: 1.1;
    text-transform: uppercase;
    &--gold {
      color: $color-gold;
      font-weight: 700;
    }
  }
  &__sticker-bot {
    margin-top: rem(10px);
    text-transform: lowercase;
    font-weight: 700;

  }
  &__btn {
    position: absolute;
    bottom: rem(65px);
    left: rem(-15px);
    margin-top: rem(30px);
    background: rgba($color-accent,0.95);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    padding: rem(10px 30px);
    transition: all 0.2s ease;
    overflow: hidden;
    z-index: 1;
    position: relative;
    &:hover {
      color: $color-accent;
    }
    &::before {
      content: "";
      position: absolute;
      background: white;
      bottom: 0;
      left: 0;
      right: 100%;
      top: 0;
      z-index: -1;
      transition: all .2s ease-in;
    }
    &:hover::before {
      top: 0;
      right: 0;
    }
  }
}
@media (max-width: $screen-xxl) {
  .receipt__sticker {
    top: rem(-10px);
    width: rem(170px);
    height: rem(170px);
    &--middle {
       top: rem(160px);
     }
    &--bottom {
      top: rem(330px);
    }
  }
}
@media (max-width: $screen-xl) {
  .receipt__sticker {
    top: 0;
    width: rem(135px);
    height: rem(135px);
    &--middle {
      top: rem(135px);
    }
    &--bottom {
      top: rem(270px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(14px);
  }
  .receipt__sticker-min {
    font-size: rem(60px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }

}
@media (max-width: $screen-lg) {


  .receipt__sticker-top {
    font-size: rem(15px);
  }
  .receipt__sticker-min {
    font-size: rem(60px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }

}
@media (max-width: 900px) {
  .receipt__sticker {
    top: rem(-20px);
    width: rem(130px);
    height: rem(130px);
    &--middle {
      top: rem(110px);
    }
    &--bottom {
      top: rem(240px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(15px);
  }
  .receipt__sticker-min {
    font-size: rem(50px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}

@media (max-width: 860px) {
  .receipt__sticker {
    top: rem(-20px);
    width: rem(130px);
    height: rem(130px);
    &--middle {
      top: rem(110px);
    }
    &--bottom {
      top: rem(240px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(15px);
  }
  .receipt__sticker-min {
    font-size: rem(50px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}
@media (max-width: 820px) {
  .receipt__sticker {
    top: rem(-10px);
    width: rem(120px);
    height: rem(120px);
    &--middle {
      top: rem(110px);
    }
    &--bottom {
      top: rem(230px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(13px);
  }
  .receipt__sticker-min {
    font-size: rem(40px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}


@media (max-width: $screen-md) {
  .receipt {
    padding-top: rem(15px);
    padding-bottom: rem(0px);
    &::after {
      width: 460px;
      height: 70px;
      top: 0;
      opacity: 0.8;
      @include centerer-x();
      background-image: url(../img/Section-4/village.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .receipt__inner-wrapper {
    padding-top: rem(20px);
  }
  .receipt__top {
    font-size: rem(35px);
  }
  .receipt__subtitle {
    font-size: rem(12px);
  }
  .receipt__text {
    margin-bottom: rem(30px);
  }
  .receipt__sticker {
    width: rem(165px);
    height: rem(165px);
    &--middle {
      top: rem(155px);
    }
    &--bottom {
      top: rem(320px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(15px);
  }
  .receipt__sticker-min {
    font-size: rem(60px);
  }
  .receipt__sticker-bot {
    margin-top: 10px;
  }
}
@media (max-width: 680px) {
  .receipt__sticker {

    width: rem(145px);
    height: rem(145px);
    &--middle {
      top: rem(135px);
    }
    &--bottom {
      top: rem(280px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(14px);
  }
  .receipt__sticker-min {
    font-size: rem(50px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  .receipt__sticker {

    width: rem(145px);
    height: rem(145px);
    &--middle {
      top: rem(135px);
    }
    &--bottom {
      top: rem(280px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(14px);
  }
  .receipt__sticker-min {
    font-size: rem(50px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}
@media (max-width: 620px) {
  .receipt__sticker {

    width: rem(140px);
    height: rem(140px);
    &--middle {
      top: rem(130px);
    }
    &--bottom {
      top: rem(270px);
    }
  }
}
@media (max-width: 580px) {
  .receipt__sticker {

    width: rem(130px);
    height: rem(130px);
    &--middle {
      top: rem(120px);
    }
    &--bottom {
      top: rem(250px);
    }
  }
}
@media (max-width: 540px) {
  .receipt__sticker {

    width: rem(115px);
    height: rem(115px);
    &--middle {
      top: rem(105px);
    }
    &--bottom {
      top: rem(220px);
    }
  }
  .receipt__sticker-top {
    font-size: rem(13px);
  }
  .receipt__sticker-min {
    font-size: rem(40px);
  }
  .receipt__sticker-bot {
    margin-top: 0;
  }
}
@media (max-width: 530px) {
  .receipt__sticker {

    width: rem(112px);
    height: rem(112px);
    &--middle {
      top: rem(102px);
    }
    &--bottom {
      top: rem(214px);
    }
  }
}
@media (max-width: 510px) {

  .receipt__sticker {
    width: rem(110px);
    height: rem(110px);
    right: 0;
    &--middle {
      top: rem(100px);
    }
    &--bottom {
      top: rem(210px);
    }
  }
}

@media (max-width: $screen-sm) {
  .receipt__sticker {
   display: none;
    &--middle {
      top: rem(100px);
    }
    &--bottom {
      top: rem(210px);
    }
  }
  .receipt {
    padding-top: rem(15px);
    padding-bottom: 0;
    &::after {
      width: 300px;
      height: 50px;
      top: 0;
      opacity: 0.8;
      @include centerer-x();
      background-image: url(../img/Section-4/village.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .receipt__btn {
    bottom: rem(60px);
    left: rem(-15px);
    font-size: rem(12px);
    background: rgba($color-accent,0.95);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    padding: rem(7px 20px);
  }
}