.main__footer {
  background-color: #2a2a2a;
  color: white;
  padding-top: 70px;
  &-container {
    @include container();
  }
}
.footer {
  &__title h2{
    font-size: $font-size--h2;
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }
  &__social {
    margin: 0 auto;
    max-width: 380px;
  }
  &__social-links {
    margin-top: 20px;
    text-align: center;
  }
  &__social-link {
    border: 1px solid $gray-lighten;
    border-radius: 3px;
    display: inline-block;
    height: 45px;
    margin-right: 10px;
    text-decoration: none;
    transition: $transition-time;
    vertical-align: top;
    width: 45px;
    &:hover {
      border-color: $accent-color;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__subscribe {
    text-align: center;
    margin-top: 25px;
  }
  &__subscribe-input {
    background-color: #515151;
    border: none;
    border-radius: 1px;
    color: white;
    display: block;
    height: 47px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 30px;
    text-transform: capitalize;
    width: 690px;
  }
  &__subscribe-btn {
    border: 1px solid $gray-lighten;
    background-color: inherit;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 30px;
  }
}
.footer__copyright {
  background-color: #515151;
  display: block;
  text-align: center;
  padding: 20px 0;

  &-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    &:hover{
      text-decoration: underline;
    }
  }
}
