
/*Raleway Light*/
 @font-face {
   font-family: "Raleway";
   src: url("../fonts/raleway/ralewayLight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
 }

 /*Raleway Regular*/
 @font-face {
   font-family: "Raleway";
   src: url("../fonts/raleway/ralewayRegular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }

/*Raleway SemiBold*/
 @font-face {
   font-family: "Raleway";
   src: url("../fonts/raleway/ralewaySemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
 }

 /*Raleway Bold*/
 @font-face {
   font-family: "Raleway";
   src: url("../fonts/raleway/ralewayBold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }

/*pf Centro Slab Pro Regular*/
 @font-face {
   font-family: "PF CentroSlabPro";
   src: url("../fonts/pfCentroSlabPro/pfCentroSlabProRegular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }

 /*pf Centro Slab Pro Bold*/
 @font-face {
   font-family: "PF CentroSlabPro";
   src: url("../fonts/pfCentroSlabPro/pfCentroSlabProBold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }
 /*Roboto Bold*/
 @font-face {
   font-family: "Roboto";
   src: url("../fonts/roboto/robotoBold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }