 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

fieldset, legend {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PF CentroSlabPro', 'Helvetica Neue', Arial;
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(213, 25%, 23%);
}

