.webp .hero {
  background-image: url(../img/webp/Background.webp);
}
.no-webp .hero {
  background-image: url(../img/webp/Background.jpg);
}
.hero {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.85;
  }


  &__inner {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__title-container {
  }
  &__title {
    text-transform: uppercase;
    font-size: rem(34px);
  }
  &__options,
  &__features {
    display: flex;
    justify-content: center;
  }
  &__features {
    flex-wrap: wrap;
  }
  &__text {
    font-family: $font-family--serif;
    font-size: $font-size--h2;
    padding-right: rem(45px);
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    position: relative;
    &::after {
      @include centerer-y();
      content: '';
      background-color: #fff;
      margin-left: rem(15px);
      width: 10px;
      height: 10px;
      transform-origin: 12px;
      transform: rotate(45deg);
    }
    &:last-child::after {
      @include visuallyhidden();
    }
  }
  &__price {
    display: block;
    font-family: $font-family;
    font-weight: 200;
    width: 100%;
    text-align: center;
    font-size: rem(34px);
    position: relative;
    padding: rem(15px 0);
    &::before,
    &::after {
      @include centerer-y();
      content: '';
      width: 30%;
      height: 1px;
      background-color: #fff;
      opacity: 0.7;
    }
    &::before {
      left: 10%;
    }
    &::after {
      right: 10%;
    }
  }
  &__btn {
    display: block;
    margin: auto;
    background-color: transparent;
    font-weight: 400;
    font-size: rem(24px);
    border: 1px solid white;
    border-radius: 0;
    padding: rem(10px 55px);
    text-align: center;
    transition: all .22s ease-in;
    position: relative;
    z-index: 1;
    overflow:hidden;
    &:hover,
    &:focus,
    &:active {
      color: #000;
    }
    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      color: #000;
      bottom: 0;
      left: 0;
      right: 100%;
      top: 0;
      transition: all .2s ease-in;
      z-index: -1;
    }
    &:hover::before {
      top: 0;
      right: 0;
      background-color: white;
      color: #000;
    }
  }
}
.btn__wrapper {
  display: block;
  width: 100%;
}

@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .hero {
    &__title {
      font-size: $font-size--h1;
      margin: 0;
      padding: 0;
    }
    &__text {
      font-size: rem(24px);
    }
    &__price {
      font-size: rem(34px);
    }
  }
}
@media (min-width: $screen-lg) {

}
@media (min-width: $screen-xl) {
  .hero {
    &__title {
      font-size: $font-size--h1;
      margin: 0;
      padding: 0;
    }
    &__text {
      font-size: rem(24px);
    }
    &__features {
      margin-bottom: rem(60px);
    }
  }
}
