.webp .hero {
  background-image: url(../img/webp/Background.webp);
}
.no-webp .hero {
  background-image: url(../img/webp/Background.jpg);
}
.hero {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.85;
  }
  &__inner {
    height: calc(100vh - 66px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(34px);
    margin: 0;
    padding: 0;
  }
  &__letters-wrapper {
    position: relative;
    display: inline-block;
  }

  &__options,
  &__features {
    display: flex;
    justify-content: center;
  }
  &__features {
    flex-wrap: wrap;
    margin-bottom: rem(20px);
  }
  &__text {
    font-family: $font-family--serif;
    font-size: rem(18px);
    padding-right: rem(25px);
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    position: relative;
    &::after {
      @include centerer-y();
      content: '';
      background-color: #fff;
      margin-left: rem(8px);
      width: 6px;
      height: 6px;
      transform-origin: 6px;
      transform: rotate(45deg);
    }
    &:last-child {
      padding-right: 0;
    }
    &:last-child::after {
      @include visuallyhidden();
    }
  }
  &__price {
    display: block;
    font-family: $font-family;
    font-weight: 200;
    width: 100%;
    text-align: center;
    font-size: rem(24px);
    position: relative;
    padding: rem(15px 0);
  }
  &__feautures-line1,
  &__feautures-line2 {
    @include centerer-y();
    overflow: hidden;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #fff;
    opacity: 0.7;
  }
  &__feautures-line1 {
    left: 10%;
  }
  &__feautures-line2 {
    right: 10%;
  }
  &__btn {
    display: block;
    margin: auto;
    background-color: transparent;
    font-weight: 400;
    font-size: rem(18px);
    border: 1px solid white;
    border-radius: 0;
    padding: rem(10px 55px);
    text-align: center;
    transition: all .22s ease-in;
    position: relative;
    z-index: 1;
    overflow:hidden;
    &:hover,
    &:focus,
    &:active {
      color: #000;
    }
    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      color: #000;
      bottom: 0;
      left: 0;
      right: 100%;
      top: 0;
      transition: all .2s ease-in;
      z-index: -1;
    }
    &:hover::before {
      top: 0;
      right: 0;
      background-color: white;
      color: #000;
    }
  }
}
.btn__wrapper {
  display: block;
  width: 100%;
}
.line1 {
  top: 0;
  left: 0;
}
.line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.letter {
  display: inline-block;
  line-height: 1em;
}


@media (min-width: $screen-sm) {
  .hero {
    &__text {
      font-size: rem(24px);
      padding-right: rem(45px);
      &::after {
        margin-left: rem(15px);
        transform-origin: 12px;
        width: 10px;
        height: 10px;
      }
    }
    &__price {
      font-size: rem(34px);
    }
    &__inner {
      height: calc(100vh - 116px);
    }
    &__btn {
      font-size: rem(24px);
    }
  }
}
@media (min-width: $screen-md) {
  .hero {
    &__title {
      font-size: $font-size--h1;
    }
    &__price {
      font-size: rem(34px);
    }
    &__inner {
      height: calc(100vh - 66px);
    }
  }
}
@media (min-width: $screen-lg) {

}
@media (min-width: $screen-xl) {
  .hero {
    &__title {
      font-size: $font-size--h1;
      margin: 0;
      padding: 0;
    }
    &__text {
      font-size: $font-size--h2;
    }
    &__features {
      margin-bottom: rem(60px);
    }
  }
}
