 /*Oswald regular*/
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald_woff/Oswald-Regular.woff2") format("woff2"),
       url("../fonts/oswald_woff/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

 /*Oswald Medium*/
 @font-face {
   font-family: "Oswald";
   src: url("../fonts/oswald_woff/Oswald-Medium.woff2") format("woff2"),
   url("../fonts/oswald_woff/Oswald-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}

/*Oswald Bold*/
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald_woff/Oswald-Bold.woff2") format("woff2"),
       url("../fonts/oswald_woff/Oswald-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

 /*Oswald Light*/
 @font-face {
   font-family: "Oswald";
   src: url("../fonts/oswald_woff/Oswald-Light.woff2") format("woff2"),
   url("../fonts/oswald_woff/Oswald-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
 }

 /*Oswald ExtraLight*/
 @font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald_woff/Oswald-ExtraLight.woff2") format("woff2"),
url("../fonts/oswald_woff/Oswald-xtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

 /*Quattrocento Bold*/
 @font-face {
   font-family: 'Quattrocento';
   src: url('../fonts/Quattrocento_woff/Quattrocento-Bold.woff2') format('woff2'),
   url('../fonts/Quattrocento_woff/Quattrocento-Bold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
 }
 /*Quattrocento Regular*/
 @font-face {
   font-family: 'Quattrocento';
   src: url('../fonts/Quattrocento_woff/Quattrocento.woff2') format('woff2'),
   url('../fonts/Quattrocento_woff/Quattrocento.woff') format('woff');
   font-weight: 400;
   font-style: normal;
 }


