.main-header {
  background-color: #c1cacc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% center;
  position: relative;
  height: 100vh;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.3;
  }
}

.container {
  position: relative;
}

@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .main-header {
    margin-top: rem(-70px);
    position: relative;
  }
}
@media (min-width: $screen-lg) {
  .main-header {
    background-position: 25% 40%;
  }
}
@media (min-width: $screen-xl) {
  .main-header {
    background-position: 50% 50%;
  }

}
@media (min-width: $screen-xxl) {

}
