.data {
  margin-bottom: 96px;
  &__title {
    padding-bottom: 10px;
    &::after {
      width: 45%;
    }
  }
  &__inner {
    @include row();
    @include outline();
  }
  &__gallery-wrapper {
    @include col(xs 12, 12);
    @include col-offset(lg, 2, 12);
    @include col(lg, 8, 12, 0);
    @include outline();
      }
  &__gallery {
    box-sizing: content-box;
    max-width: 304px;
    margin: auto;
  }
  &__text-wrapper {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    &::before {
      content: '';
      @include centerer-x();
      bottom: 0;
      height: 30px;
      width: 40px;
      background-image: url(../img/icons_svg/eye.svg);
      background-repeat: no-repeat;
    }
  }
  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: $font-family--headings;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    &--italic {
      font-size: 14px;
      font-style: italic;

    }
  }
  &__btn {
    margin-left: 0;
  }
}
.data__carousel-nav--left,
.data__carousel-nav--right {
  position: absolute;
  top: 38%;
  background-repeat: no-repeat;
  background-color: $accent-color;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 55px;
  background-position: center center;
}
.data__carousel-nav--left{
  background-image: url(../img/icons_svg/arrow-right-white.svg);
  transform: rotate(180deg);
  left: 0;
  transition: $transition-time;

}
.data__carousel-nav--right {
  background-image: url(../img/icons_svg/arrow-right-white.svg);
  right: 0px;
  transition: $transition-time;
}

@media (min-width: $screen-sm) {
  .data {
    margin-bottom: 110px;
    &__title {
      margin-bottom: 24px;
    }
    &__text-wrapper {
      margin-bottom: 105px;
      padding-bottom: 50px;
    }
    &__text {
      font-size: 24px;
      &--italic {
        font-size: 16px;
        margin: 0;
      }
    }
    &__gallery-wrapper {
      background-image: url(../img/section10/slider-bg.png);
      background-repeat: no-repeat;
      background-position: 51.5% 57%;
    }
    &__gallery {
      margin: auto;
      margin-top: 45px;
      padding: 0 87px;

    }
  }
  .data__carousel-nav--left,
  .data__carousel-nav--right {
    background-color: transparent;
    width: 42px;
    height: 81px;
    top: 38%;
  }
  .data__carousel-nav--left {
    background-image: url(../img/icons_svg/arrow-right-gray.svg);
  }
  .data__carousel-nav--right {
    background-image: url(../img/icons_svg/arrow-right-gray.svg);
  }
}

@media (min-width: $screen-md) {
  .data {
    &__gallery {
      padding: 0 150px;
    }

  }
}

@media (min-width: $screen-lg) {
  .data {

  }
}