.faq {
  margin-bottom: 60px;
  &__title {
    padding-bottom: 10px;
  }
  &__content-wrapper {
    @include row();
    margin: 0;
  }
  &__content {
    @include col(xs, 12, 12);
    @include col-offset(lg, 1, 12);
    @include col(lg, 10, 12, 0);
  }
  &__question {
    font-weight: 600;
    padding-left: 30px;
    text-decoration: underline;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 12px;
      background-repeat: no-repeat;
      height: 19px;
      background-image: url(../img/icons_svg/arrow-right-tangerine.svg);
      transition: $transition-time;
    }
    &--is-active {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
  &__answer {
    max-height: 0;
    padding-left: 30px;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
.no-js .faq__answer {
  max-height: 100px;
}
@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {
  .faq {
    &__question,
    &__answer {
      padding-left: 50px;
    }
    &__question {
      font-size: 21px;
      &::before {
        left: 25px;
      }
    }
    &__answer {
      font-size: 16px;
    }
  }

}

@media (min-width: $screen-lg) {
  .faq {
    margin-bottom: 110px;

  }
}