.clients {
  background-color: #f8f8f8;
  &__inner {
    @include row();
  }
  &__card {
    @include col(xs, 4, 12);
    @include col(md, 3, 12);
    @include col(lg, 2, 12);
    display: flex;
    height: 92px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    &:nth-child(-n+4) {
      border-top:none;
    }
    &:nth-child(2) {
      border-left:none;
    }
    &:nth-child(5) {
      border-left:none;
    }
    &:nth-child(8) {
       border-left:none;
    }
    &:nth-child(11) {
      border-left:none;
    }
  }
  &__logo-wrapper {
    margin: auto;
  }
  &__title {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

}

@media (min-width: $screen-sm) {
  &__card {
    height: 118px;
  }
}

@media (min-width: $screen-md) {
  .clients {
    margin-bottom: 83px;

    &__card {
      height: 134px;
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(11) {
        border-left: 1px solid #e8e8e8;
      }
      &:nth-child(-n+5) {
        border-top:none;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .clients {
    margin-bottom: 83px;
    &__inner {
      padding-bottom: 64px;
    }
    &__card {
      &:nth-child(8) {
        border-left: none;
      }
      &:nth-child(-n+7) {
        border-top:none;
      }
      &:nth-child(6),
      &:nth-child(10) {
        border-left: 1px solid #e8e8e8;
      }
    }
    &__title {
      margin-bottom: 35px;
      font-size: 32px;
    }
  }
}