.clients {
  background-color: #f8f8f8;
  &__inner {
    @include row();
  }
  &__card {
    @include col(xs, 4, 12);
    @include col(md, 3, 12);
    @include col(lg, 2, 12);
    display: flex;
  }
  &__logo-wrapper {
    margin: auto;
  }
  &__title {
    padding-bottom: 10px;
  }

}

@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {
  .clients {
    margin-bottom: 83px;

    &__card {
      border-top: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
      height: 134px;
      &:nth-child(2) {
        border-left: none;
      }
      &:nth-child(6) {
        border-left: none;
      }
      &:nth-child(10) {
        border-left: none;
      }
      &:nth-child(-n+5) {
        border-top:none;
      }
      &:nth-child(-n+5) {
        border-top:none;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .clients {
    margin-bottom: 83px;
    &__card {
      border-top: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;

      &:nth-child(8) {
        border-left: none;
      }
      &:nth-child(-n+7) {
        border-top:none;
      }
    }
    &__title {
      margin-bottom: 35px;
    }
  }
}