.promo {
  &:nth-child(2n) {
    background-color: #5086f1;
    color: white;
    h2 {
      color: white;
    }
  }
}

@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {

}

@media (min-width: $screen-lg) {
  .promo {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 46%;
    &--yandex {
      background-position: 95% 50%;
      background-size: 50%;
    }
    &--aero {
      background-size: 50%;
    }
    &__content-wrapper {
      @include row();
      @include outline();
    }
    &__content {
      @include col(lg, 6, 12, 0);
      @include col-offset(lg, 6, 12);
      @include outline();
     &--left {
        @include col(lg, 6, 12, 0);
        @include col-offset(lg, 0, 12);
      }
    }
    &__title {
      text-align: left;
      padding-top: 100px;
      padding-bottom: 16px;
      margin-bottom: 38px;
      &::after {
        width: 100%;
      }
      &--white {
        &::after {
          background-color: #fff;
        }
      }
    }
    &__list {
      margin-left: 36px;
      margin-bottom: 34px;
      list-style: none;
      list-style-image: url("../img/icons_svg/checked.svg");
      &--blue {
        list-style-image: url("../img/icons_svg/checked-blue.svg");
      }
    }
    &__item {
      margin-bottom: 15px;
    }
    &__text-container {
      margin-top: 80px;
      margin-bottom: 15px;
      display: flex;
    }
    &__text--italic {
      margin-left: auto;
      font-size: 14px;
      font-style: italic;
    }
    &__btn {
      &:nth-child(2n+2) {
        margin-bottom: 100px;
      }
    }
  }
  .webp .promo--google {
    background-image: url(../img/webp/100kviews768+.webp);
  }
  .no-webp .promo--google {
    background-image: url(../img/section2/100kviews768+.png);
  }
  .no-js .promo--google {
    background-image: url(../img/section2/100kviews768+.png);
  }
  .webp .promo--yandex {
    background-image: url(../img/webp/20mclients768+.webp);
  }
  .no-webp .promo--yandex {
    background-image: url(../img/section3/20mclients768+.png);
  }
  .no-js .promo--yandex {
    background-image: url(../img/section3/20mclients768+.png);
  }
  .webp .promo--aero {
    background-image: url(../img/webp/aero768+.webp);
  }
  .no-webp .promo--aero {
    background-image: url(../img/section4/aero768+.png);
  }
  .no-js .promo--aero {
    background-image: url(../img/section4/aero768+.png);
  }
}
