.promo {
  position: relative;
  &:nth-child(2n) {
    background-color: #5086f1;
    color: white;
    h2 {
      color: white;
    }
  }
  &__content-wrapper {
    @include row();
    @include outline();
  }
  &__content {
    @include col(lg, 6, 12, 0);
    @include col-offset(lg, 6, 12);
    @include outline();
    &--left {
      @include col(lg, 6, 12, 0);
      @include col-offset(lg, 0, 12);
    }
  }
  &__circle {
    position: absolute;
    background-color: #fff;
    width: 79px;
    height: 79px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: inset 1px 0px 16px 1px #ABABAB;
    &--google {
      top: 10%;
      left: 48%;
    }
    &--yandex {
      background-color: #20a3fc;
      border: 3px solid #20a3fc;
      box-shadow: inset 1px 0px 16px 1px rgba(0, 0, 0, 0.28);
      top: 10%;
      left: 48%;
    }
  }
  &__circle-data,
  &__circle-name {
    display: block;
    text-align: center;
    font-family: $font-family--headings;

  }
  &__circle-data {
    color: #5086f1;
    font-weight: 600;

    &--yandex {
      color: white;
    }
  }
  &__circle-name {
    color: #8a8a8a;
    font-weight: 400;
    &--yandex {
      color: white;
    }
  }
}

@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {

}

@media (min-width: $screen-lg) {
  .promo {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 46%;
    &--yandex {
      background-position: 95% 50%;
      background-size: 50%;
      padding-bottom: 100px;
    }
    &--aero {
      background-size: 50%;
      padding-bottom: 100px;
    }

    &__title {
      text-align: left;
      padding-top: 100px;
      padding-bottom: 16px;
      margin-bottom: 38px;
      &::after {
        width: 100%;
      }
      &--white {
        &::after {
          background-color: #fff;
        }
      }
    }
    &__list {
      margin-left: 36px;
      margin-bottom: 34px;
      list-style: none;
      list-style-image: url("../img/icons_svg/checked.svg");
      &--blue {
        list-style-image: url("../img/icons_svg/checked-blue.svg");
      }
    }
    &__item {
      margin-bottom: 15px;
    }
    &__text-container {
      margin-top: 80px;
      margin-bottom: 15px;
      display: flex;
    }
    &__text--italic {
      margin-left: auto;
      font-size: 14px;
      font-style: italic;
    }
    &__circle {
      width: 142px;
      height: 142px;
      &--google {
        top: 30%;
        left: 41%;
      }
      &--yandex {
        top: 10%;
        left: 48%;
      }
    }
    &__circle-data,
    &__circle-name {

    }
    &__circle-data {
      font-size: 29px;
      padding: 40px 10px 0px 10px;
      &--yandex {
        padding-top: 35px;
      }
    }
    &__circle-name {
      font-size: 16px;
    }
  }
  .webp .promo--google {
    background-image: url(../img/webp/100kviews768+.webp);
  }
  .no-webp .promo--google {
    background-image: url(../img/section2/100kviews768+.png);
  }
  .no-js .promo--google {
    background-image: url(../img/section2/100kviews768+.png);
  }
  .webp .promo--yandex {
    background-image: url(../img/webp/20mclients768+.webp);
  }
  .no-webp .promo--yandex {
    background-image: url(../img/section3/20mclients768+.png);
  }
  .no-js .promo--yandex {
    background-image: url(../img/section3/20mclients768+.png);
  }
  .webp .promo--aero {
    background-image: url(../img/webp/aero768+.webp);
  }
  .no-webp .promo--aero {
    background-image: url(../img/section4/aero768+.png);
  }
  .no-js .promo--aero {
    background-image: url(../img/section4/aero768+.png);
  }
}
