
 /*Open Sans Regular
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}*/

/*Open Sans Light
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}*/

/*Open Sans Bold
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
        url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}*/
 /*Helvetica Neue*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue-regular.woff2") format("woff2"),
  url("../fonts/helvetica-neue-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Helvetica Neue Light*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue-light.woff2") format("woff2"),
  url("../fonts/helvetica-neue-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/*Helvetica Neue Bold*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue-bold.woff2") format("woff2"),
  url("../fonts/helvetica-neue-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
 /*Georgia Bold*/
 @font-face {
   font-family: "Georgia";
   src: url("../fonts/georgia-bold.woff2") format("woff2"),
   url("../fonts/georgia-bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }
