.about {
  padding: rem(10px 0);

  &__content-wrapper {
    @include row();
  }

  &__content--right {
    @include col(lg, 10, 16);
  }
  &__content--left {
    display: none;
    @include col(xs, 16, 16);
    padding: rem(0 10px);
    @include col(lg, 6, 16);
  }
  &__title {
    color: $gray-darker;
    padding: rem(0 20px);
  }
  &__text {
    line-height: 1.7;
    padding: rem(0 20px);
  }
  &__article-wrapper {
    @include row(30);
  }
  &__article--left,
  &__article--right {
    @include col(xs, 12, 12);
    @include col(sm, 12, 12);
    @include col(sm, 12, 12);
    @include col(md, 6, 12);
    @include col(lg, 6, 12);
  }
  &__article-title {
    margin: rem(5px 0);
    padding: 0;
    line-height: 1.6;
  }
  &__article-date,
  &__article-name  {
    display: inline-block;
    color: $accent-color;
  }
  &__article-date {
    padding-right: rem(10px);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background-color: $accent-color;
    }
  }
  &__article-name {
    padding-left: rem(5px);
  }
  &__image {
    display: none;
    width: rem(330px);
    margin: 0;
    margin-top: rem(30px);
  }
  &__article-text {
    font-size: rem(15px);
    line-height: 1.6;
  }
  &__btn-wrapper {
    width: rem(155px);
    margin: 0 auto;
    margin-top: rem(20px);
  }
  &__player-btn {
    display: block;
    border: none;
    max-width: rem(360px);
    box-shadow: none;
    background-color: $gray-lighter;
    text-transform: inherit;
    text-align: left;
    padding: rem(17px 0);
    padding-left: rem(80px);
    margin-bottom: rem(22px);
    width: 100%;
    position: relative;
    &:hover,
    &:focus,
    &:active {
      background-color: $accent-color;
    }
    &::before {
      content: '';
      @include centerer-y();
      left: 10px;
      @include circle(40px, $white);
    }
    &::after {
      @include centerer-y();
      left: 28px;
      @include triangle(right, $accent-color, 7px);
    }
    &--active {
      background-color: $accent-color;
    }
  }
  &__player-descr {
    line-height: 1.7;
    margin: rem(30px 0);
  }
}
@media (min-width: $screen-sm) {
  .about {
    &__image {
      width: rem(330px);
      margin: 0;
      margin-top: rem(30px);
    }

  }
}

@media (min-width: $screen-md) {
  .about {
    &__title {

    }
    &__image {
      display: block;
      width: rem(330px);
    }
    &__content--left {
      padding: 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .about {
    padding: rem(95px 0);
    &__title {
      font-size: $font-size--h2;
    }
    &__image {
      width: rem(260px);
    }
    &__content--left {
      display: block;
    }
  }
}

@media (min-width: $screen-xl) {
  .about {
    &__image {
      width: rem(340px);
    }

  }
}
@media (min-width: $screen-xxl) {

}