.form-wrapper {

  @include col(xl, 4, 12);
  @include col(lg, 5, 12);
  @include col(md, 6, 12);
  @include col(xs, 12, 12);
  @include outline();
  padding-top: 20px;
  margin: auto;
}
.form {
  width: 280px;
  margin: 0 auto;
  display: block;
  height: 430px;
  padding: 15px;
  background-color: transparentize(#243343, 0.3);
  color: white;
  border-bottom: 3px solid #1f2a36;
  &--gray {
    background-color: transparentize($gray-lightest, 0.1);
    color: #1f2a36;
    border-bottom: 3px solid $gray-light;
  }
}
.form__title {
  font-size: $font-size--h2;
  color: white;
  text-transform: none;
  margin: 0;
  padding: 0;
  &--gray {
    color: #1f2a36;
  }
}
.form__text {
  line-height: 24px;
}
.form__label {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__input-text {
  display: block;
  letter-spacing: 1.4px;
  margin-bottom: 5px;
}
.form__input {
  display: block;
  border: none;
  color: $gray-light;
  box-shadow: -0 -4px #1f2a36 ;
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  background-color: #34465a;
  transition: $transition-time;
  &:focus {
    box-shadow: -0 -6px $color-main;
    background-color: lighten(#34465a,5%);
  }
  &--gray {
    color: #1f2a36 ;
    box-shadow: -0 -4px $gray;
    background-color: $gray-lighten;
    &:focus {
      box-shadow: -0 -6px $color-main;
      background-color: darken($gray-lighten, 7%);
    }
  }
}
.form__btn-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  width: 140px;
}
.form__btn {
  width: 100%;
  height: 40px;
  font-weight: 700;
}

@media (min-width: $screen-sm) {
  .form {
    width: 460px;
    padding: 30px;
  }
  .form__btn-wrapper {
    width: 200px;
  }
  .form__btn {
    width: 100%;
    height: 50px;
  }

}
@media (min-width: $screen-md) {
  .form {
    width: 380px;
  }
}
@media (min-width: $screen-lg) {
  .form {
    width: 360px;
  }
}
@media (min-width: $screen-xl) {

}
@media (min-width: $screen-xxl) {

}

