.work {
  background-color: hsl(213, 25%, 23%);
  &::before {
    content: '';
    width: 100%;
    height: 6px;
    top: -6px;
    position: absolute;
    background-image: url(../img/bah_2.png);
  }
  &__title,
  &__text {
    color: white;
  }
  &__container {
    @include container();
    @include outline();
    color: white;
    font-family: 'PF CentroSlabPro';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  &__arrows {
    @include row();
    @include outline();
    list-style: none;
    margin: 50px 0;
    padding: 0;
    justify-content: center;
  }
  &__items-wrapper{
    @include col(sm, 12, 12, 0);
    @include col(md, 5, 14, 0);
    @include col(lg, 3, 12, 0);
    @include col(xl, 3, 12, 0);
    @include col(xxl, 3, 12, 0);
    @include outline();
    margin: 0;

    padding: 0;


  }
  &__item {
    width: 290px;
    height: 130px;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  &__content {
    position: relative;
    margin-top: 43px;
    margin-left: 65px;
    margin-right: 20px;
    text-align: left;
    line-height: 1.2;
    z-index: 1;
    span {
      font-size: 22px;
    }
  }
  &__triangle {
    position: absolute;
    top: 0;
    left: 0;
    path {

    }
  }
  &__icon {
    width: 28px;
    vertical-align: top;
    float: left;
    margin-right: 15px;
  }

  &__btn-wrapper {
    @include col(xs, 12, 12);
    background-color: hsl(212, 25%, 30%);
  }
  &__btn-centerer {
    margin: 30px auto;
    width: 220px;
  }
  &__btn {
    width: 100%;
    height: 40px;
    font-weight: 700;
  }
}
@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .work__btn-centerer {
    width: 240px;
  }
  .work__btn {
    height: 50px;
  }
  .work__items-wrapper {

    margin-top: 20px;
  }
}@media (min-width: $screen-lg) {
  .work__items-wrapper {
    margin-left: 20px;
    margin-top: 20px;
  }
}@media (min-width: $screen-xl) {
  .work__items-wrapper {
    margin-left: -30px;
  }
}@media (min-width: $screen-xxl) {
  .work__items-wrapper {
    margin-left: -130px;
  }
}