<section class="about">
  <div class="about__container">
    <div class="about__content-wrapper">
      <div class="promo__content">
        <div class="promo__title">
          <h2 class="promo__title">About us</h2>
          <p>We are added our major Services</p>
        </div>
        <div class="promo__services">
          <div class="promo__services-1">
            <h3 class="promo__services-title">Facebook marketing</h3>
            <p class="promo__text"> Of in power match on truth worse voice would. Large an it sense shall an match learn. By expect it result silent in formal of. </p>
          </div>
          <div class="promo__services-2"></div>
            <h3 class="promo__services-title">Landing pages Creation</h3>
            <p class="promo__text">By spite about do of do allow blush. Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer.  </p>
          <div class="promo__services-3">
            <h3 class="promo__services-title">Ads management</h3>
            <p class="promo__text">
              Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>