header.main-header
  .main-header__contacts
    .main-header__contacts-container
      .main-header__contacts-wrapper
        .main-header__contacts-items
          a.main-header__contacts-phone(href="tel:+38066799999") +380667913228
          a.main-header__contacts-mail(href="mailto:ravenio@ex.ua") ravenio@ex.ua
  .main-header__nav
    .main-header__logo
    .main-nav
      ul.main-nav__list
        li.main-nav__item Home
        li.main-nav__item About Us
        li.main-nav__item Our Approach
        li.main-nav__item Our Work
    .main-header__btn.btn