<section class="work">
  <div class="work__container">
    <div class="work__title">
      <h2>Our work</h2>
      <p>We are added our featured works bellow </p>
    </div>
    <div class="work__list-1">
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
    </div>
    <div class="work__list-2">
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
    </div>
  </div>
</section>