<section class="work">
  <div class="work__container">
    <div class="work__title-wrapper">
      <h2 class="work__title">Our work</h2>
      <p class="work__title-text">We are added our featured works bellow </p>
    </div>
    <div class="work__list">
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
    </div>
    <div class="work__list">
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
      <div class="work__item  work__item--photo"></div>
      <div class="work__item  work__item--project"></div>
    </div>
  </div>
</section>