<header class="main-header">
  <div class="main-header__contacts">
    <div class="main-header__contacts-container">
      <div class="main-header__contacts-wrapper">
        <div class="main-header__contacts-items">
          <a href="tel:+38066799999" class="main-header__contacts-phone">+380667913228</a>
          <a href="mailto:ravenio@ex.ua" class="main-header__contacts-mail">Alinea@gmail.com</a>
          <a href="" class="main-header__contacts-fb">
            <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
                 viewBox="0 0 408.8 408.8">
              <path d="M353.7,0H55.1C24.7,0,0,24.7,0,55.1v298.6c0,30.4,24.7,55.1,55.1,55.1h147.3l0.3-146.1h-38
c-4.9,0-8.9-4-9-8.9l-0.2-47.1c0-5,4-9,9-9h37.9v-45.5c0-52.8,32.2-81.6,79.3-81.6h38.6c4.9,0,9,4,9,9v39.7c0,4.9-4,9-9,9l-23.7,0
	c-25.6,0-30.6,12.2-30.6,30v39.4h56.3c5.4,0,9.5,4.7,8.9,10l-5.6,47.1c-0.5,4.5-4.4,7.9-8.9,7.9h-50.5l-0.3,146.1h87.6
	c30.4,0,55.1-24.7,55.1-55.1V55.1C408.8,24.7,384.1,0,353.7,0z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-nav">
    <div class="main-nav__container">
      <div class="main-nav__wrapper">
        <div class="main-nav__logo">
          <img src="./img/logo.png" width="242px" height="51px" alt="company-logo">
        </div>
        <div class="main-nav__list-wrapper">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Home</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">About us</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Our Approach</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Our Work</a>
            </li>
          </ul>
        </div>
        <div class="main-nav__btn-wrapper">
          <a href="#" class="main-nav__btn  btn">Free consultation</a>
        </div>
      </div>
    </div>
  </div>
</header>
