<section class="cakes  section">
  <div class="container">
    <div class="cakes__content">
      <div class="cakes__text-side">
        <h2 class="cakes__title">
          Art of cakes
        </h2>
        <span>we create delicious memories</span>
        <div class="cakes__text-wrapper">
          <p class="cakes__text">
            Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
          </p>
          <div class="cakes__chef">
            <h4>Chef Cook</h4>
            <b>Benito</b>
            <div class="cakes__chef-img">
              <img src="img/Section-1/chief-cook.png" alt="chef cook">
            </div>
            <b>Gospare</b>
            <cite>Unique creations for unique occasions</cite>
          </div>
        </div>
      </div>
      <div class="cakes__photo-side">
        <figure>
          <img src="img/Section-1/flour.jpg" alt="" class="cakes__image">
          <img src="img/Section-1/egg.jpg" alt="" class="cakes__image">
          <img src="img/Section-1/cake.jpg" alt="" class="cakes__image">
          <img src="img/Section-1/strawberry.jpg" alt="" class="cakes__image">
        </figure>
      </div>
    
    </div>
   
  </div>
</section>