<section class="favourite  section">
  <div class="container">
    <div class="favourite__wrapper">
      <div class="favourite__centerer">
        <div class="favourite__content">
          <div class="favourite__rate">
            <figure class="favourite__img">
              <picture>
                <source data-srcset="img/Section-2/pancakes.webp" type="image/webp">
                <source data-srcset="img/Section-2/pancakes.png" type="image/png">
                <img class="lazyload  blur-up" data-src="img/Section-2/pancakes.png" type="image/png"
                     data-expand="400" alt="pancake" width="436" height="525">
              </picture>
              <div class="favourite__icons"><svg class="favourite__icon  favourite__icon--fill">
                <use xlink:href="img/sprite.svg#ico-star-fill"></use>
              </svg>
                <svg class="favourite__icon  favourite__icon--fill">
                  <use xlink:href="img/sprite.svg#ico-star-fill"></use>
                </svg>
                <svg class="favourite__icon  favourite__icon--fill">
                  <use xlink:href="img/sprite.svg#ico-star-fill"></use>
                </svg>
                <svg class="favourite__icon  favourite__icon--fill">
                  <use xlink:href="img/sprite.svg#ico-star-fill"></use>
                </svg>
                <svg class="favourite__icon">
                  <use xlink:href="img/sprite.svg#ico-star"></use>
                </svg>
              </div>
            </figure>
          </div>
          <div class="favourite__descr">
            <div class="favourite__descr-container">
              <div class="favourite__time">
                <span class="favourite__time-top">Ready in</span>
                <span class="favourite__time-min">40</span>
                <span class="favourite__time-bot">mins</span>
              </div>
              <h2 class="favourite__title">
                Tasty pancakes
              </h2>
              <span class="favourite__sub">Season favourite</span>
              <div class="favourite__text">
                <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
              </div>
              <div class="favourite__carousel  owl-carousel  owl-theme">
                <div class="favourite__carousel-item">
                  <img src="img/Section-2/slider-1.png" alt="" class="favourite__carousel-img">
                </div>
                <div class="favourite__carousel-item">
                  <img src="img/Section-2/slider-2.png" alt="" class="favourite__carousel-img">
                </div>
                <div class="favourite__carousel-item">
                  <img src="img/Section-2/slider-3.png" alt="" class="favourite__carousel-img">
                </div>
                <div class="favourite__carousel-item">
                  <img src="img/Section-2/slider-1.png" alt="" class="favourite__carousel-img">
                </div>
                <div class="favourite__carousel-item">
                  <img src="img/Section-2/slider-3.png" alt="" class="favourite__carousel-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>