<footer class="main-footer">
  <div class="container">
    <div class="main-footer__wrapper">
      <nav class="main-footer__nav">
        <div class="main-footer__inner">
          <div class="main-footer__left">
            <ul class="main-footer__list">
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">our menu</a>
              </li>
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">gallery</a>
              </li>
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">culture</a>
              </li>
            </ul>
          </div>
          <div class="main-footer__logo">
            <span>Gustoso</span>
          </div>
          <div class="main-footer__right">
            <ul class="main-footer__list">
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">events</a>
              </li>
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">catering</a>
              </li>
              <li class="main-footer__item">
                <a href="#" class="main-footer__link">visit us</a>
              </li>
            </ul>
          </div>
          
          
        </div>
        
      </nav>
    </div>
    
  </div>
 
</footer>