<header class="main-header">
  <div class="main-header__top">
    <div class="container">
      <div class="main-header__top-wrapper">
        <div class="main-header__logo">
          <span>Gustoso</span>
        
        </div>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Welcome</a></li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Menu</a></li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Reservations</a></li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">News</a></li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Contact</a></li>
          </ul>
        </nav>
        <div class="main-header__social">
          <div class="main-header__social-centerer">
            <a href="#">
              <svg class="main-header__icon  main-header__icon--fb">
                  <use xlink:href="#ico-facebook"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="main-header__icon  main-header__icon--fb">
                <use xlink:href="#ico-instagram"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="main-header__icon  main-header__icon--fb">
                <use xlink:href="#ico-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="container">
    <div class="main-header__promo">
      .promo_
    
    </div>
    1234
    
  </div>

</header>
