<section class="receipt  section">
  <div class="receipt__header">
    <h2 class="receipt__top">
      The Jibarito sandwich
    </h2>
    <span class="receipt__subtitle">the best sandwich you’ve ever tasted!</span>
  </div>
  <div class="container">
    <div class="receipt__wrapper">
      <div class="receipt__inner">
        <div class="receipt__content">
          <div class="receipt__descr">
            <div class="receipt__inner-wrapper">
              <picture>
                <source data-srcset="img/Section-4/img-1.webp" type="image/webp">
                <source data-srcset="img/Section-4/img-1.png" type="image/png">
                <img data-src="img/Section-4/img-1.png" alt="grain" class="receipt__img  lazyload">
              </picture>
              <h4 class="receipt__inner-title">Class aptent</h4>
              <p class="receipt__text">Quot alienum persecuti ut eam, nam ad atqui primis nusquam.</p>
              <picture>
                <source data-srcset="img/Section-4/img-2.webp" type="image/webp">
                <source data-srcset="img/Section-4/img-2.png" type="image/png">
                <img data-src="img/Section-4/img-2.png" alt="egg" class="receipt__img  lazyload">
              </picture>
              <h4 class="receipt__inner-title">Nulla eget</h4>
              <p class="receipt__text">Nullam dictum felis eu pede mollis pretium Integer tincidunt.</p>
              <picture>
                <source data-srcset="img/Section-4/img-3.webp" type="image/webp">
                <source data-srcset="img/Section-4/img-3.png" type="image/png">
                <img data-src="img/Section-4/img-3.png" alt="image" class="receipt__img  lazyload">
              </picture>
              <h4 class="receipt__inner-title">Sed nibh purus</h4>
              <p class="receipt__text"> Aenean eleifend tellus leo ligula, porttitor eu, consequat vitae.</p>
            </div>
          </div>
          <div class="receipt__picture">
            <div class="receipt__picture-wrapper">
              <picture>
                <source data-srcset="img/Section-4/sandwich.webp" type="image/webp">
                <source data-srcset="img/Section-4/sandwich.jpg" type="image/jpeg">
                <img class="lazyload" data-src="img/Section-4/sandwich.jpg"
                   alt="sandwich">
              </picture>
              <div class="receipt__sticker  receipt__sticker--top">
                <span class="receipt__sticker-top">prep</span>
                <span class="receipt__sticker-min">15</span>
                <span class="receipt__sticker-bot">mins</span>
              </div>
              <div class="receipt__sticker  receipt__sticker--middle">
                <span class="receipt__sticker-top">cook</span>
                <span class="receipt__sticker-min">35</span>
                <span class="receipt__sticker-bot">mins</span>
              </div>
              <div class="receipt__sticker  receipt__sticker--bottom  receipt__sticker--fill">
                <span class="receipt__sticker-top">ready in</span>
                <span class="receipt__sticker-min  receipt__sticker-min--gold">50</span>
                <span class="receipt__sticker-bot">mins</span>
              </div>
              <a href="#" class="receipt__btn  btn">full recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>