.application {
  background-color: #1287bf;
  color: white;
  &__container {
    @include container();
    padding-top: 50px;
  }
  &__title-wrapper {
    text-align: center;
  }
  &__title {
    font-size: $font-size--h2;
    margin: 0;
  }
  &__title-text {
    font-size: 20px;
  }
}