.approach {
  background-color: #f3f3f3;
  &__container {
    @include container();
    @include outline();
    padding-top: 85px;
  }
  &__title-wrapper {
    text-align: center;
    position: relative;
    &::after {
      content: '';
      border-bottom: 5px solid black;
      width: 50px;
      height: 4px;
      bottom: -15px;
      @include centerer-x;
    }
  }
  &__title {
    font-size: $font-size--h2;
    margin: 0;
  }
  &__title-text {
    font-size: 20px;
  }
  &__step {
    @include row();
    margin-top: 40px;
    background-color: white;
  }
  &__image {
    @include make-col(4);
    @include outline();
    padding: 0;
  }
  &__text {
    @include make-col(8);
    @include outline();
    padding: 0 75px;
  }
  &__step-title {
    font-size: $font-size--h4;
    &--right {
      text-align: right;
    }
  }
  &__step-text {
    font-size: 14px;
    line-height: 1.5;
    &--right {
      text-align: right;
    }
  }
}