.main__footer {
  background-color: #2a2a2a;
  color: white;
}





.footer__copyright {
  background-color: #515151;
  text-align: center;
  &-link {
    display: inline-block;
    vertical-align: top;
  }
}
