.main-header {
  &__contacts {
    background-color: #f0f2f4;
    border-bottom: 1px solid $gray-lighten;
  }
  &__contacts-container {
    @include container();
  }
  &__contacts-wrapper {
    @include row();
    @include outline();
  }
  &__contacts-items {
    @include make-col(4);
    @include col-offset(xs, 8);
    @include outline();
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
  }
  &__contacts-phone,
  &__contacts-mail {
    text-decoration: none;
    color: $link-color;
    padding-top: 8px;
    margin-left: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
    &__contacts-phone {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        left: -20px;
        background-image: url("../img/icons_svg/ico-smartphone.svg");
      }
    }
    &__contacts-mail {
      position: relative;
      padding-left: 20px;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 7px;
        left: -5px;
        background-image: url("../img/icons_svg/ico-envelope.svg");
      }
    }

  &__contacts-fb {
    padding-bottom: 0px;
    padding-top: 3px;
    fill: #185baa;
    &:hover {
      fill: darken(#185baa, 10%);
      transition: $transition-time;
    }
  }
}



