//@media (min-width: $screen-xs) {
//
// }

/*@media (min-width: $screen-sm) {
}*/
/*
@media (min-width: $screen-md) {
}*/
/*

@media (min-width: $screen-lg) {
}*/
/*
@media (min-width: $screen-xl) {

}*/
/*
@media (min-width: $screen-xxl) {

}*/
.main-header {
  &__contacts {
    background-color: #f0f2f4;    
  }
  &__contacts-container {
    @include container();
  }
  &__contacts-wrapper {
    @include row();  
  }
  &__contacts-items {
    @include make-col(4);
    @include col-offset(xs, 8);
    padding-left: 40px;
  }
  &__contacts-phone {
    margin-left: 15px;
  }
  &__contacts-mail {
    margin-left: 15px;
    padding-right: 30px;
    position: relative;
  }
  &__contacts-fb {
    fill: #185baa;
    &:hover {
      fill: darken(#185baa, 10%);
      transition: $transition-time;
    }
  }
}



