.work  {
  background-color: $accent-color;
  color: white;
  &__container {
    @include container();
    padding-top: 50px;
    padding-bottom: 80px;
  }
  &__title-wrapper {
    text-align: center;
    position: relative;
    &::after {
      content: '';
      border-bottom: 5px solid white;
      width: 50px;
      height: 4px;
      bottom: -15px;
      @include centerer-x;
    }
  }
  &__title {
    font-size: $font-size--h2;
  }
  &__title-text {
    font-size: 20px;
  }
  &__list {
    @include row();
    justify-content: center;
    &--top {
      margin-top: 65px;
    }
  }
  &__item {
    @include make-col(3);
    @include col(xxl, 2, 12, 0);
    @include outline();
    &--photo {
      margin: 0;
      padding: 0;
    }
    &--project {
      background-color: #f35e59;
      text-align: center;
      padding-top: 100px;
      position: relative;
      &::before {
        content: '';
        @include centerer-x;
        top: 70px;
        @include sprite($work-item);
      }
    }
  }
  &__item-title {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 35px;
    text-transform: capitalize;
  }
  &__item-text {
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 700;
  }
}
