 /*Alegreya Regular*/
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/alegreya/alegreya-regular.woff2") format("woff2"),
        url("../fonts/alegreya/alegreya-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
 /*Alegreya Bold*/
 @font-face {
   font-family: "Alegreya";
   src: url("../fonts/alegreya/alegreya-bold.woff2") format("woff2"),
   url("../fonts/alegreya/alegreya-bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }
 /*PlayFairDisplay Regular*/
 @font-face {
   font-family: "PlayFairDisplay";
   src: url("../fonts/playFairDisplay/playfairdisplay-regular.woff2") format("woff2"),
   url("../fonts/playFairDisplay/playfairdisplay-regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }
 /*PlayFairDisplay Bold*/
 @font-face {
   font-family: "PlayFairDisplay";
   src: url("../fonts/playFairDisplay/playfairdisplay-bold.woff2") format("woff2"),
   url("../fonts/playFairDisplay/playfairdisplay-bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }
 /*ProximaNova Regular*/
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/proximaNova/proximaNova-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }
 /*Scriptina Regular*/
 @font-face {
   font-family: "Scriptina";
   src: url("../fonts/scriptina/scriptina.woff") format("woff"),
   url("../fonts/scriptina/scriptina.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
 }