.gallery {
  @include row(30);
  @include outline();
  background-color: #fff;
  position: relative;
  padding-bottom: 55px;
  &__card,
  &__card--hidden {
    @include col(xs, 12, 12);
    @include col(sm, 12, 12);
    @include col(md, 6, 12, 0);
    @include col(lg, 3, 12, 0);
    @include outline();
  }

}
@media (min-width: $screen-sm) {

}
@media (min-width: $screen-md) {
  .gallery {
    &__card,
    &__card--hidden {
      img {
        vertical-align: top;
      }
    }
  &__wrapper {
    width: 100%;
    border: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: rem(30px 0);
    background-color: $gray-lighten;
    transition: $transition-time;
    &:hover::before,
    &:focus::before,
    &:active::before  {
      width: 0;
      }
    &:hover,
    &:focus,
    &:active {
      background-color: lighten($gray-lighten, 10%);
      }
    }
    .gallery__card--hidden {
      display: none;
    }
  }
}

@media (min-width: $screen-lg) {
  .gallery {
    &__card {
    }
  }

}

@media (min-width: $screen-xl) {
  .gallery {
  }

}


@media (min-width: $screen-xxl) {

}

