<section class="work">
  <div class="work__container">
    <div class="work__title-wrapper">
      <h2 class="work__title">Our work</h2>
      <p class="work__title-text">We are added our featured works bellow </p>
    </div>
    <div class="work__list  work__list--top">
      <div class="work__item  work__item--project">
        <h3 class="work__item-title">Project name</h3>
        <p class="work__item-text">Facebook marketing</p>
      </div>
      <img class="work__item  work__item--photo" alt="" src="img/work-1.jpg">
      <div class="work__item  work__item--project">
        <h3 class="work__item-title">Project name</h3>
        <p class="work__item-text">Landing page</p>
      </div>
      <img class="work__item  work__item--photo" alt="" src="img/work-2.jpg">
    </div>
    <div class="work__list">
      <img class="work__item  work__item--photo" alt="" src="img/work-3.jpg">
      <div class="work__item  work__item--project">
        <h3 class="work__item-title">Project name</h3>
        <p class="work__item-text">Beautiful nature</p>
      </div>
      <img class="work__item  work__item--photo" alt="" src="img/work-4.jpg">
      <div class="work__item  work__item--project">
        <h3 class="work__item-title">Project name</h3>
        <p class="work__item-text">Ads management</p>
      </div>
    </div>
  </div>
</section>