.modal {
  &__window {
    width: 320px;
    height: 214px;
    background-color: #fff;
  }
  &__inner {
    margin: 32px 18px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 24px;
    &:after {
      display: none;
    }
  }
  &__input {
    display: block;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 35px;

  }
}
