.main-nav {


  .mm-navbar {
    border-bottom: none;
  }
  .mm-listview > li > a {
    padding-left: 10%;
    padding-top: 8px;
  }

&__toggle {
  position: absolute;
  display: inline-block;
  top: 55%;
  right: 0.7%;
  z-index: 1;
  }
  &__link {
    transition: $transition-time;
    position: relative;
    &::before {
      content: '';
     @include centerer-y();
      width: 15px;
      left: 3%;
      height: 20px;
      background-image: url("../img/icons_svg/ico-diamond.svg");
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: $gray-darkest;
      color: $accent-color;
    }
  }
}
html .mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
   background-color: transparent;
  color: $accent-color;
 }



.hamburger-box  {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $color-main;
    width: 34px;
    height: 2px;
  }
}



@media (min-width: $screen-sm) {
.main-nav {

}

}

@media (min-width: $screen-md) {

}

@media (min-width: $screen-lg) {
  .main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;

}
  .main-nav__item {
    border: transparent;
  }
}

@media (min-width: $screen-xl) {

}

@media (min-width: $screen-xxl) {

}