.reviews {
  background-image: url(../img/bg-2.jpg);
  &__container {
    @include container();
    @include outline();
  }
  &__content {
    @include row();
    @include outline();
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  &__content-wrapper {
    @include outline();
    @include col-offset(xs, 2, 12);
    @include col(xs, 8, 12);
    padding-bottom: 10px;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;

  }
    &__title {
      font-size: 18px;
      text-align: center;
      line-height: 1.9;
      font-weight: 800;
      span {
        color: $accent-color;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    color: #a9a9a9;
  }
  &__name {
    color: #fff;
    display: block;
    margin-bottom: 15px;
    font-size: 26px;
    font-family: 'Times New Roman',serif;
    font-style: italic;
  }
  &__service {
    display: block;
    font-family: 'Times New Roman',serif;
    font-style: italic;
    font-size: 14px;
  }
  &__rate {
    width: 50%;
    margin: auto;
    margin-top: 25px;
   }
  &__ico {
    width: 12px;
    height: 12px;
  }
  .owl-item {
    background-color: transparent;
  }
}
@media (min-width: $screen-sm) {
  .reviews__content-wrapper {
    position: relative;

    &::before,
    &::after {
      content: '';
      @include centerer-y();

      width: 30px;
      height: 30px;

    }
    &::before {
      left: -50px;
      background-image: url(../img/icons_svg/ico-left-quote.svg);
    }
    &::after {
      right: -50px;
      background-image: url(../img/icons_svg/ico-right-quote.svg);

    }
  }
}

@media (min-width: $screen-md) {
  .reviews__content-wrapper {
  padding-bottom: 40px;
  line-height: 1.8;
  padding-left: 50px;
  padding-right: 50px;
  }
  .reviews__title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }
  .reviews__content {
    padding-top: 50px;
  }
  .reviews__ico {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $screen-lg) {
  .reviews__content {
    padding-top: 80px;
  }
  .reviews__list {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $screen-xl) {

}

@media (min-width: $screen-xxl) {

}
