.section {
  position: relative;
  background-size: cover;
  background-position: center;
  &--inverse {
    color: #fff;
    background-color: #1a1a1a;
    padding: 5% 0;

  }
  &--overlay {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-second;
      opacity: 0.92;
    }

  }
}