.about {
  text-align: center;
  padding: rem(30px 0);
  &__inner {
    width: 80%;
    margin: 0 auto;
  }
  &__title {
    margin-top: 0;
    font-size: $font-size--h3;
  }
  &__text {
    line-height: 1.5;
  }
  &__skills-wrapper {
    background:linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(245, 249, 252) 50%);
    @include row();
    @include outline();
  }
  &__skills {
    @include col(xs, 12, 12);
    @include col(md, 6, 12, 0);
    @include outline();
    &--progressbar {
      text-align: left;
    }
    &--photo {
      display: none;
    }
    &__inner-title {
      font-size: $font-size--h3;
    }
  }
  &__progressbar {
    font-family: $font-family--headings;
    font-size: rem(13px);
    margin-top: rem(30px);
    margin-bottom: rem(5px);
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    &--ui,
    &--web,
    &--marketing {
      width: 100%;
      height: 5px;
    }
  }
  &__sign {
    margin-top: rem(30px);
  }
}
.about__progressbar-wrapper {
  position: relative;
  width: 100%;
}
.progressbar__text {
  font-family: $font-family--headings;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  left: rem(40%);
  top: 0;
  font-weight: 500;
  font-size: rem(13px);
}
.progressbar__text--web {
  font-family: $font-family--headings;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: rem(55%);
  font-weight: 500;
  font-size: rem(13px);
}
.progressbar__text--mark {
  font-family: $font-family--headings;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: rem(33%);
  font-weight: 500;
  font-size: rem(13px);
}
@media (min-width: $screen-sm) {
  .progressbar__text {
    left: rem(25%);
  }
  .progressbar__text--web {
    left: rem(36%);

  }
  .progressbar__text--mark {
    left: rem(23%);
  }
}
@media (min-width: $screen-md) {
  .progressbar__text {
    left: rem(33%);
}
  .progressbar__text--web {
    left: rem(47%);

  }
  .progressbar__text--mark {
    left: rem(28%);
  }
  .about__skills--progressbar {
    padding: rem(0 20px);
    margin: auto;
  }
  .about__skills--photo {
     display: block;
  }
}
@media (min-width: $screen-lg) {
  .about {
    padding-top: rem(80px);
    &__inner {
      width: 65%;
      margin: 0 auto;
      padding-bottom: rem(75px);
    }
    &__title {
      font-size: $font-size--h2;
    }
    &__text {
      font-size: rem(16px);
      line-height: 1.6;
      margin-bottom: rem(50px);
    }
    &__inner-title {
      font-size: $font-size--h2;
    }
    &__skills--progressbar {
      padding-right: rem(80px);
    }
  }
}
@media (min-width: $screen-xl) {
  .progressbar__text {
    left: rem(25%);
  }
  .progressbar__text--web {
    left: rem(35%);

  }
  .progressbar__text--mark {
    left: rem(22%);
  }
}
@media (min-width: $screen-xxl) {

}