.services {
  background-color: $gray-lightest;
  padding: rem(10px 0);
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  &__inner {
    @include row(0);
    margin: auto;
    display: flex;
    @include outline();
    padding: 0;
  }
  &__card  {
    @include col(sm, 8, 16);
    @include col(md, 8, 16);
    @include col(lg, 4, 16);
    @include outline();
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
   &__title {
    text-transform: uppercase;
    font-size: rem(12px);
  }
  &__text {
    font-size: rem(16px);
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    padding-top: rem(10px);
    padding-bottom: rem(60px);
    font-weight: 700;
    line-height: 1.6;
  }
  &__icons-wrap {
    padding-top: rem(3px);
  }
  &__icon {
    width: rem(42px);
    height: rem(42px);
    &--star {
      fill: #656565;
    }
  }
}


@media (min-width: $screen-sm) {

}

@media (min-width: $screen-md) {
  .services {
    padding: rem(20px 0);
  }
}

@media (min-width: $screen-lg) {
  .services {
    padding: rem(95px 0);
    &__inner {

    }
  }
}

@media (min-width: $screen-xl) {

}
@media (min-width: $screen-xxl) {

}