<section class="service  section  section--darkblue">
  <h2 class="section__title  service__title">Бухгалтерские услуги</h2>
  <div class="section__text-wrapper">
    <p class="section__text service__text"><b>Бухгалтерский учёт</b> – это строго структурированная система сбора, регистрации и систематизации информации в денежном выражении о состоянии имущества, обязательств организации и их изменениях путём сплошного, непрерывного и документального учёта всех хозяйственных и экономических операций.
  </div>
  <div class="service__content  service__content--top">
    <div class="service__container">
      <ul class="service__options  service__options--top">
        <li class="service__item  service__item--1">
          <div class="service__item-wrapper  service__item-wrapper--left">
            <a href="#">Документальное оформление</a>
            <p>Документальное оформление всех хозяйственных операций предприятия</p>
          </div>
        </li>
        <li class="service__item  service__item--2">
          <div class="service__item-wrapper">
            <a href="#">Обработка данных</a>
            <p>Обработка, систематизация и введение данных в бухгалтерскую программу</p>
          </div>
        </li>
        <li class="service__item  service__item--3">
          <div class="service__item-wrapper  service__item-wrapper--right">
            <a href="#">Расчеты</a>
            <p>Расчет заработной платы и налогов</p>
          </div>
        </li>
      </ul>
      <ul class="service__options  service__options--center">
        <li class="service__item  service__item--4">
          <div class="service__item-wrapper  service__item-wrapper--left">
            <a href="#">Формирование отчетности</a>
            <p>Формирование финансового результата предприятия</p>
          </div>
        </li>
        <li class="service__item  service__item--5">
          <div class="service__item-wrapper  service__item-wrapper--right">
            <a href="#">Налоговая отчетность</a>
            <p>Оформление и подача бухгалтерской и налоговой отчетности в соответствующие</p>
          </div>
        </li>
      </ul>
        <ul class="service__options  service__options--bottom">
        <li class="service__item  service__item--6">
          <div class="service__item-wrapper  service__item-wrapper--left">
            <a href="">Консультирование организаций</a>
            <p>Консультирование по вопроса оптимизации финансовой функции и бухгалтерскому учету</p>
          </div>
        <li class="service__item  service__item--7">
          <div class="service__item-wrapper">
            <a href="">Помощь в подборе персонала</a>
            <p>Помощь в подборе персонала в отдел бухгалтерского и налогового учета</p>
          </div>
        <li class="service__item  service__item--8">
          <div class="service__item-wrapper  service__item-wrapper--right">
            <a href="">Восстановление бухгалтерского учета</a>
            <p>Восстановление функционирования предприятия и бухгалтерского учета</p>
          </div>
      </ul>
    </div>
  </div>
  <div class="section__bottom  service__btn-wrapper">
    <div class="service__btn-centerer">
      <button class="btn  service__btn">Заказать бухгалтерские услуги</button>
    </div>
  </div>
</section>