<section class="service  section  section--darkblue">
  <h2 class="section__title  service__title">Бухгалтерские услуги</h2>
  <div class="section__text-wrapper">
    <p class="section__text service__text"><b>Бухгалтерский учёт</b> – это строго структурированная система сбора, регистрации и систематизации информации в денежном выражении о состоянии имущества, обязательств организации и их изменениях путём сплошного, непрерывного и документального учёта всех хозяйственных и экономических операций.
  </div>
</section>