<section class="advantages  section  section--darkblue">
  <h2 class="section__title  advantages__title">Преимущества Armata Financial Group</h2>
  <div class="section__text-wrapper">
    <p class="section__text advantages__text"><b>Компания AFG</b> поддерживает российские и иностранные компании, работающие на отечественном рынке в решении задач экономического роста, защиты своих интересов, управления текущей деятельностью. Помогает создавать системы владения активами, устанавливает коммуникации с новыми партнерами и рынками, организует сделки и привлекает капиталы.
  </div>
  <h3 class="advantages__title">Привлекательные условия сотрудничества</h3>
  <div class="advantages__container">
    <div class="advantages__cards">
      <div class="advantages__card-wrapper">
        <div class="advantages__item  advantages__item--discount  card  card--darkblue card--off">
          <h4>Скидки</h4>
          <p>Предоставляем всем нашим клиентам уникальную возможность получить скидку <b>50%</b> на все услуги
          </p>
        </div>
      </div>
      <div class="advantages__card-wrapper">
        <div class="advantages__item  advantages__item--team  card  card--darkblue  card--off">
          <h4>Команда</h4>
          <p>У нас большой опыт работы в крупнейших консалтинговых компаниях
          </p>
        </div>
      </div>
      <div class="advantages__card-wrapper">
        <div class="advantages__item  advantages__item--speed  card  card--darkblue  card--off">
          <h4>Скорость</h4>
          <p>Приступаем к выполнению обязательст в день обращения в нашу компанию
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="section__bottom  advantages__btn-wrapper">
    <div class="advantages__btn-centerer">
      <button class="btn  advantages__btn">Обратиться к нам</button>
    </div>
  </div>
</section>