<section class="deals  section">
  <h2 class="section__title">Сделки M&A</h2>
  <div class="section__text-wrapper">
    <p class="section__text"><b>Сделки cлияния и поглощения </b> – это процессы укрупнения бизнеса и капитала. Популярность сделки слияния и поглощения приобрели в конце 80-х годов и сейчас они являются одним из основных движущих факторов развития бизнеса на макро и микроуровне. Эффективность сделок слияния и поглощения огромна и не вызывает сомнений.
  </div>
  <h3 class="deals__title">Наши услуги по <a href="#">сопровождению сделок M&A</a></h3>
  <div class="deals__container">
    <ul class="deals__services">
      <li class="deals__items  deals__items--1">
        <a href="#" class="deals__link">Разработка новой структуры управления бизнесом</a>
      </li>
      <li class="deals__items  deals__items--2">
        <a href="#" class="deals__link">Консультации по предпродажной подготовке бизнеса</a>
      </li>
      <li class="deals__items  deals__items--3">
        <a href="#" class="deals__link">Анализ стоимости бизнеса и активов</a>
      </li>
      <li class="deals__items  deals__items--4">
        <a href="#" class="deals__link">Консультации с покупателями и сопровождение</a>
      </li>
      <li class="deals__items  deals__items--5">
        <a href="#" class="deals__link">Юридический аудит (Due Diligence) приобретаемого актива</a>
      </li>
      <li class="deals__items  deals__items--6">
        <a href="#" class="deals__link">Разработка оптимальной схемы приобретения актива</a>
      </li>
      <li class="deals__items  deals__items--7">
        <a href="#" class="deals__link">Организация финансирования сделки
        </a>
      </li>
      <li class="deals__items  deals__items--8">
        <a href="#" class="deals__link">Подготовка и сопровождение документации</a>
      </li>
      <li class="deals__items  deals__items--9">
        <a href="#" class="deals__link">Получение разрешений в государственных органах</a>
      </li>
      <li class="deals__items  deals__items--10">
        <a href="#" class="deals__link">Интеграция нового актива в схему управления холдингом</a>
      </li>
    </ul>
  </div>
  <div class="section__bottom  deals__btn-wrapper">
    <div class="deals__btn-centerer">
      <button class="btn  deals__btn">Заказать сопровождение</button>
    </div>
  </div>
</section>