<footer class="main-footer  section">
  <div class="main-footer__container">
    <div class="main-footer__wrapper">
      <div class="main-footer__logo">
        <a href="#"><img src="img/logo.svg" alt="logo"></a>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <span class="main-nav__link  main-nav__link--active">Главная</span>
          </li>
          <li class="main-nav__item">
            <a href="" class="main-nav__link">О компании</a>
          </li>
          <li class="main-nav__item">
            <a href="" class="main-nav__link">Оценка</a>
          </li>
          <li class="main-nav__item">
            <a href="" class="main-nav__link">Сделки M&A</a>
          </li>
          <li class="main-nav__item">
            <a href="" class="main-nav__link">Бухгалтерские услуги</a>
          </li>
          <li class="main-nav__item">
            <a href="" class="main-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="main-footer__phone">
        <span class="main-footer__phone-text"> + 4 (085) 065-55-78</span>
        <a href="#" class="main-nav__toggle"><span></span></a>
      </div>
    </div>
  </div>
</footer>
<button type=button class="arrow__top" title="scrollUp"></button>
<div class="viually-hidden">
  <form method="post" class="form" id="callback">
  <h4 class="form__title"> Заявка</h4>
  <p class="form__text">Оставьте свою заявку и мы свяжемся с вами в течении 15 минут в рабочее время с 10:00 до 18:00 с пн-пт. </p>
  <label class="form__label">
    <span class="form__input-text">Ваше имя</span>
    <input class="form__input" type="text" name="name" required>
  </label>
  <label>
    <span class="form__input-text">Ваш телефон</span>
    <input class="form__input" type="text" name="phone" required>
  </label>
  <div class="form__btn-wrapper">
    <button class="form__btn  btn" type="submit">Отправить</button>
  </div>
</form>
</div>