<header class="main-header">
  <div class="main-header__top-section">
    <div class="main-header__container">
      <div class="main-header__wrapper">
        <div class="main-header__logo">
          <a href="#"><img src="img/logo.svg" alt="logo"></a>
        </div>
        <nav class="main-nav" id="menu">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <span href="" class="main-nav__link  main-nav__link--active">Главная</span>
            </li>
            <li class="main-nav__item">
              <a href="" class="main-nav__link">О компании</a>
            </li>
            <li class="main-nav__item">
              <a href="" class="main-nav__link">Оценка</a>
            </li>
            <li class="main-nav__item">
              <a href="" class="main-nav__link">Сделки M&A</a>
            </li>
            <li class="main-nav__item">
              <a href="" class="main-nav__link">Бухгалтерские услуги</a>
            </li>
            <li class="main-nav__item">
              <a href="" class="main-nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="main-header__phone">
          <span class="main-header__phone-text"> + 4 (085) 065-55-78</span>
          <a href="#" class="main-nav__toggle"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</header>
