<section class="property  section">
  <h2 class="section__title">Независимая оценка имущества</h2>
  <div class="section__text-wrapper">
    <p class="section__text"><b>Определение рыночной стоимости</b> любого актива, или <a href="#">оценка</a> — это первый этап всех рыночных отношений. Оценка заключается в объективном анализе объекта с целью придания ему стоимостных характеристик, выраженных в едином денежном эквиваленте.</p>
  </div>
  <div class="property__content  property__content--top  property__content--triangle">
    <div class="property__container">
      <ul class="property__options  property__options--top">
        <li class="property__item  property__item--1">
          <div class="property__item-wrapper  property__item-wrapper--left">
            <a href="#">Оценка ценных бумаг</a>
            <p>Определение рыночной стоимости ценных бумаг и документов</p>
          </div>
        </li>
        <li class="property__item  property__item--2">
          <div class="property__item-wrapper">
            <a href="#">Оценка бизнеса и предприятий</a>
            <p>Профессиональная оценка бизнес-активов предприятия</p>
          </div>
        </li>
        <li class="property__item  property__item--3">
          <div class="property__item-wrapper  property__item-wrapper--right">
            <a href="#">Оценка недвижимости</a>
            <p>Профессиональная оценка жилого и нежилого имущества</p>
          </div>
        </li>
        <li class="property__item  property__item--4">
          <div class="property__item-wrapper  property__item-wrapper--left">
            <a href="#">Оценка машин и оборудования</a>
            <p>Профессиональная оценка машин и оборудования для бизнеса</p>
          </div>
        </li>
        <li class="property__item  property__item--5">
          <div class="property__item-wrapper  property__item-wrapper--right">
            <a href="#">Оценка инвестиционных проектов</a>
            <p>Независимая оценка бизнес проектов любого направления</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="property__image">
      <img src="img/icons_svg/section_1/scales.svg" alt="equality">
    </div>
  </div>
  <div class="property__content  property__content--bottom">
    <div class="property__container">
      <ul class="property__options  property__options--bottom">
        <li class="property__item  property__item--6">
          <div class="property__item-wrapper  property__item-wrapper--left">
            <a href="">Оценка нематериальных активов</a>
            <p>Определение стоимости нематериальных активов различных видов</p>
          </div>
        </li>
        <li class="property__item  property__item--7">
          <div class="property__item-wrapper">
            <a href="">Оценка себестоимости продукции</a>
            <p>Определение себестоимости продукции и ее прибыльности</p>
            </div>
        </li>
        <li class="property__item  property__item--8">
          <div class="property__item-wrapper  property__item-wrapper--right">
            <a href="">Бизнес-планирование</a>
            <p>Разработка бизнес-плана и оценка его эффективности</p>
            </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="section__bottom  property__btn-wrapper">
    <div class="property__btn-centerer">
      <a href="#callback" class="btn  property__btn">Заказать оценку</a>
    </div>
  </div>
</section>