<section class="reviews  section">
  <h2 class="section__title">Отзывы клиентов</h2>
  <div class="reviews__container">
    <ul class="reviews__slider owl-carousel  owl-theme">
      <li class="reviews__item">
        <div class="reviews__item-wrapper">
          <h3 class="reviews__title">Оценка имущественного объекта</h3>
          <p class="reviews__text">Оценка 100% пакета акций крупного промышленного предприятия с целью подтверждения стоимости залога в банке. Предприятие находится на начальной стадии производства продукции. Основные активы компании – новейшее специализированное оборудование иностранного производства, объекты недвижимости. Кредитор предприятия – крупный государственный банк. Цель – определение рыночной стоимости объекта и защита результатов оценки перед кредитором.

           Оценка предприятия начальной стадии производства осложнилась отсутствием ретроспективных фактических показателей деятельности, которые могут служить исходной базой для достоверного прогнозирования будущих результатов. В связи с чем основным подходом к оценке выступили затратный подход и детальный анализ всех статей активов и пассивов баланса, в составе которых наиболее трудоемким является оценка имущества предприятия.

           Результат проекта: Рыночная стоимость активов компании превысила рыночную стоимость пассивов (с учетом наличия существенных обязательств перед банком), в результате чего стоимость имущества, находящегося в залоге, превышает стоимость обязательств перед банком, внесение дополнительного обеспечения по кредиту клиентом не потребовалось.
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__item-wrapper">
          <h3 class="reviews__title">Инициативная аудиторская проверка холдинга</h3>
          <p class="reviews__text">Аудиторская проверка (инициативный аудит) предприятий холдинга с целью подтверждения достоверности бухгалтерской (финансовой) отчетности после присоединения нескольких имущественных комплексов.

                                   В ходе аудита основное внимание уделялось подтверждению наличия остатков по счетам бухгалтерского учета путем инвентаризации. Особое внимание необходимо было уделить в связи с получением значительных сумм отрицательных курсовых разниц по валютным счетам в результате скачков курса доллара США в конце 2014 года и наличия отрицательных чистых активов за предыдущие отчетные периоды при положительных финансовых результатах.

                                   Результат проекта: Подача аудиторского заключения и отчетов в составе заявки на получение финансирования от государственного банка. Отчетность подтверждена, аудиторское заключение положительно повлияло на осуществление финансирования деятельности холдинга.
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__item-wrapper">
          <h3 class="reviews__title">Оценка имущественного объекта</h3>
          <p class="reviews__text">Оценка 100% пакета акций крупного промышленного предприятия с целью подтверждения стоимости залога в банке. Предприятие находится на начальной стадии производства продукции. Основные активы компании – новейшее специализированное оборудование иностранного производства, объекты недвижимости. Кредитор предприятия – крупный государственный банк. Цель – определение рыночной стоимости объекта и защита результатов оценки перед кредитором.
    
                                   Оценка предприятия начальной стадии производства осложнилась отсутствием ретроспективных фактических показателей деятельности, которые могут служить исходной базой для достоверного прогнозирования будущих результатов. В связи с чем основным подходом к оценке выступили затратный подход и детальный анализ всех статей активов и пассивов баланса, в составе которых наиболее трудоемким является оценка имущества предприятия.
    
                                   Результат проекта: Рыночная стоимость активов компании превысила рыночную стоимость пассивов (с учетом наличия существенных обязательств перед банком), в результате чего стоимость имущества, находящегося в залоге, превышает стоимость обязательств перед банком, внесение дополнительного обеспечения по кредиту клиентом не потребовалось.
          </p>
        </div>
      </li>
    </ul>
  
  
  
  
  
  </div>

</section>