<section class="support  section">
  <h2 class="section__title  support__title">С кем можно связаться через сайт</h2>
  <div class="section__text-wrapper">
    <p class="section__text support__text">Свяжитесь с одним из сотрудников и получите консультацию по работе с нашей компанией </p>
  </div>
  
  <div class="support__container">
    <div class="support__cards">
      <div class="support__card-wrapper">
        <div class="support__item  support__item--photo-1  card  card--gray card--off">
          <p class="support__text">Николай Смирнов
          </p>
          <p class="support__phone">+7 (495) 518-07-44</p>
        </div>
      </div>
      <div class="support__card-wrapper">
        <div class="support__item  support__item--photo-2  card  card--gray  card--off">
          <p class="support__text">Александра Петрова
          </p>
          <p class="support__phone">+7 (495) 518-07-44</p>
        </div>
      </div>
      <div class="support__card-wrapper">
        <div class="support__item  support__item--photo-3  card  card--gray  card--off">
          <p class="support__text">Сергей Стытько
          </p>
          <p class="support__phone">+7 (495) 518-07-44</p>
        </div>
      </div>
    </div>
  </div>
</section>