<section class="work  section  section--darkblue">
  <h2 class="section__title  work__title">Как мы работаем</h2>
  <div class="work__container">
    <ul class="work__arrows">
      <li class="work__items-wrapper">
        <div class="work__item">
          <div class="work__content">
            <img src="img/icons_svg/section_5/1.svg" alt="icon" class="work__icon  work__icon--1">
            <span>1.</span>Вы оставляете заявку
          </div>
          <svg class="work__triangle" id="triangle-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.01178 129" height="129" width="291.012"><path d="M3.382 126.028L46.476 63 3.03 3.8H243.75l43.118 58.77-43.282 63.462z" fill="#f39f18" stroke="#f39f18" stroke-width="5px" fill-opacity="0" stroke-opacity="0"/>
          </svg>
        </div>
      </li>
      <li class="work__items-wrapper">
        <div class="work__item">
          <div class="work__content">
            <img src="img/icons_svg/section_5/2.svg" alt="icon" class="work__icon  work__icon--1">
            <span>2.</span>Подписываем договор
          </div>
          <svg class="work__triangle" id="triangle-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.01178 129" height="129" width="291.012"><path d="M3.382 126.028L46.476 63 3.03 3.8H243.75l43.118 58.77-43.282 63.462z" fill="#f39f18" stroke="#f39f18" stroke-width="5px"/>
          </svg>
        </div>
      </li>
      <li class="work__items-wrapper">
        <div class="work__item">
          <div class="work__content">
            <img src="img/icons_svg/section_5/3.svg" alt="icon" class="work__icon  work__icon--1">
            <span>3.</span>Мы проводим оценку
          </div>
          <svg class="work__triangle" id="triangle-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.01178 129" height="129" width="291.012"><path d="M3.382 126.028L46.476 63 3.03 3.8H243.75l43.118 58.77-43.282 63.462z" fill="#f39f18" stroke="#f39f18" stroke-width="5px"/>
          </svg>
       </div>
      </li>
      <li class="work__items-wrapper">
        <div class="work__item">
          <div class="work__content">
            <img src="img/icons_svg/section_5/4.svg" alt="icon" class="work__icon  work__icon--1">
            <span>4.</span>Вы получаете отчет
          </div>
          <svg class="work__triangle" id="triangle-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.01178 129" height="129" width="291.012"><path d="M3.382 126.028L46.476 63 3.03 3.8H243.75l43.118 58.77-43.282 63.462z" fill="#f39f18" stroke="#f39f18" stroke-width="5px"/>
          </svg>
        </div>
      </li>
    </ul>
  </div>
 
  
  <div class="section__bottom  work__btn-wrapper">
    <div class="work__btn-centerer">
      <button class="btn  work__btn">Оставить заявку</button>
    </div>
  </div>
</section>